@model IEnumerable<PMS.LINEREAD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LCLSID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LINRSINCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LTOTHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LHRSNET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WITHDRAWN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAXOVAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERMOVAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHECKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NONRETURN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LINER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDTMARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LCLSID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LINRSINCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LTOTHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LHRSNET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WITHDRAWN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAXOVAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERMOVAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHECKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NONRETURN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LINER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDTMARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
