@model PMS.MSGDATA

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MSGDATA</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FUSERCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FUSERCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TUSERCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TUSERCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.READDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.READDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MSGID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MSGID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MSGCONTID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MSGCONTID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBJECT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBJECT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
