@model PMS.MSGDATA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MSGDATA</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FUSERCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FUSERCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TUSERCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TUSERCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.READDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.READDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MSGID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MSGID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MSGCONTID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MSGCONTID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBJECT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBJECT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
