@model PMS.PMSJOB

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PMSJOB</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCHED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCHED)
            @Html.ValidationMessageFor(model => model.SCHED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OFFUPDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OFFUPDT)
            @Html.ValidationMessageFor(model => model.OFFUPDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
