@model PMS.LINER

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LINER</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS1)
            @Html.ValidationMessageFor(model => model.PS1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS2)
            @Html.ValidationMessageFor(model => model.PS2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS3)
            @Html.ValidationMessageFor(model => model.PS3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS4)
            @Html.ValidationMessageFor(model => model.PS4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS5)
            @Html.ValidationMessageFor(model => model.PS5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS6)
            @Html.ValidationMessageFor(model => model.PS6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS7)
            @Html.ValidationMessageFor(model => model.PS7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS8)
            @Html.ValidationMessageFor(model => model.PS8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS9)
            @Html.ValidationMessageFor(model => model.PS9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS10)
            @Html.ValidationMessageFor(model => model.PS10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS11)
            @Html.ValidationMessageFor(model => model.PS11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PS12)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PS12)
            @Html.ValidationMessageFor(model => model.PS12)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA1)
            @Html.ValidationMessageFor(model => model.FA1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA2)
            @Html.ValidationMessageFor(model => model.FA2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA3)
            @Html.ValidationMessageFor(model => model.FA3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA4)
            @Html.ValidationMessageFor(model => model.FA4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA5)
            @Html.ValidationMessageFor(model => model.FA5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA6)
            @Html.ValidationMessageFor(model => model.FA6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA7)
            @Html.ValidationMessageFor(model => model.FA7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA8)
            @Html.ValidationMessageFor(model => model.FA8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA9)
            @Html.ValidationMessageFor(model => model.FA9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA10)
            @Html.ValidationMessageFor(model => model.FA10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA11)
            @Html.ValidationMessageFor(model => model.FA11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FA12)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FA12)
            @Html.ValidationMessageFor(model => model.FA12)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LINERNOW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LINERNOW)
            @Html.ValidationMessageFor(model => model.LINERNOW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TOTSH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TOTSH)
            @Html.ValidationMessageFor(model => model.TOTSH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.A_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.A_HRS)
            @Html.ValidationMessageFor(model => model.A_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAXDIAPER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAXDIAPER)
            @Html.ValidationMessageFor(model => model.MAXDIAPER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLOIL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLOIL)
            @Html.ValidationMessageFor(model => model.CYLOIL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SPECCONS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SPECCONS)
            @Html.ValidationMessageFor(model => model.SPECCONS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MES)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MES)
            @Html.ValidationMessageFor(model => model.MES)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
