@model PMS.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="LoginOtr">

                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new {@class="TxtBox"})
                @Html.ValidationMessageFor(m => m.UserName)

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "TxtBox" })
                @Html.ValidationMessageFor(m => m.Password)

        <div class="BtnOtr">
    	    <input type="submit" value="Submit" class="Btn" />
        </div>
    </div>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
