@model PMS.EX_VALVE_INSP

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EX_VALVE_INSP</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPECODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPECODE)
            @Html.ValidationMessageFor(model => model.TYPECODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BUILDER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BUILDER)
            @Html.ValidationMessageFor(model => model.BUILDER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_NO)
            @Html.ValidationMessageFor(model => model.ENG_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NO_OF_CYL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NO_OF_CYL)
            @Html.ValidationMessageFor(model => model.NO_OF_CYL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_TYPE)
            @Html.ValidationMessageFor(model => model.ENG_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VALVE_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VALVE_NO)
            @Html.ValidationMessageFor(model => model.VALVE_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VALVE_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VALVE_HRS)
            @Html.ValidationMessageFor(model => model.VALVE_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SPARE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SPARE)
            @Html.ValidationMessageFor(model => model.SPARE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEST)
            @Html.ValidationMessageFor(model => model.TEST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIS_CYL_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIS_CYL_NO)
            @Html.ValidationMessageFor(model => model.DIS_CYL_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIS_DT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIS_DT)
            @Html.ValidationMessageFor(model => model.DIS_DT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIS_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIS_HRS)
            @Html.ValidationMessageFor(model => model.DIS_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CHECK_OHL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHECK_OHL)
            @Html.ValidationMessageFor(model => model.CHECK_OHL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CHK_OHL_DT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHK_OHL_DT)
            @Html.ValidationMessageFor(model => model.CHK_OHL_DT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CHK_PLACE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHK_PLACE)
            @Html.ValidationMessageFor(model => model.CHK_PLACE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MOUN_CYLNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MOUN_CYLNO)
            @Html.ValidationMessageFor(model => model.MOUN_CYLNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MOUN_DT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MOUN_DT)
            @Html.ValidationMessageFor(model => model.MOUN_DT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MOUN_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MOUN_HRS)
            @Html.ValidationMessageFor(model => model.MOUN_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REM)
            @Html.ValidationMessageFor(model => model.REM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_TYPE)
            @Html.ValidationMessageFor(model => model.B_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_MARK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_MARK)
            @Html.ValidationMessageFor(model => model.B_MARK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_S_MAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_S_MAT)
            @Html.ValidationMessageFor(model => model.B_S_MAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_DRAWNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_DRAWNO)
            @Html.ValidationMessageFor(model => model.B_DRAWNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_LST_OVL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_LST_OVL)
            @Html.ValidationMessageFor(model => model.B_LST_OVL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_HRS_TOT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_HRS_TOT)
            @Html.ValidationMessageFor(model => model.B_HRS_TOT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_CRACK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_CRACK)
            @Html.ValidationMessageFor(model => model.B_CRACK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_BLOW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_BLOW)
            @Html.ValidationMessageFor(model => model.B_BLOW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_ST_CON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_ST_CON)
            @Html.ValidationMessageFor(model => model.B_ST_CON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_DNT_MRK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_DNT_MRK)
            @Html.ValidationMessageFor(model => model.B_DNT_MRK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_STGRND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_STGRND)
            @Html.ValidationMessageFor(model => model.B_STGRND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_STGRND_H)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_STGRND_H)
            @Html.ValidationMessageFor(model => model.B_STGRND_H)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_DEP_CHM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_DEP_CHM)
            @Html.ValidationMessageFor(model => model.B_DEP_CHM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_MX_DTHIK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_MX_DTHIK)
            @Html.ValidationMessageFor(model => model.B_MX_DTHIK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_ANGDEP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_ANGDEP)
            @Html.ValidationMessageFor(model => model.B_ANGDEP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_D_W_F_V)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_D_W_F_V)
            @Html.ValidationMessageFor(model => model.B_D_W_F_V)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.B_REM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.B_REM)
            @Html.ValidationMessageFor(model => model.B_REM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_MARK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_MARK)
            @Html.ValidationMessageFor(model => model.S_MARK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_B_MAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_B_MAT)
            @Html.ValidationMessageFor(model => model.S_B_MAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_D_U_MAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_D_U_MAT)
            @Html.ValidationMessageFor(model => model.S_D_U_MAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_S_MAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_S_MAT)
            @Html.ValidationMessageFor(model => model.S_S_MAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_ST_SUR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_ST_SUR)
            @Html.ValidationMessageFor(model => model.S_ST_SUR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_DRAW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_DRAW)
            @Html.ValidationMessageFor(model => model.S_DRAW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_LST_OVL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_LST_OVL)
            @Html.ValidationMessageFor(model => model.S_LST_OVL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_HRS_TOT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_HRS_TOT)
            @Html.ValidationMessageFor(model => model.S_HRS_TOT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_CRACKS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_CRACKS)
            @Html.ValidationMessageFor(model => model.S_CRACKS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_BLOW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_BLOW)
            @Html.ValidationMessageFor(model => model.S_BLOW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_ST_CON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_ST_CON)
            @Html.ValidationMessageFor(model => model.S_ST_CON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_S_D_MAX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_S_D_MAX)
            @Html.ValidationMessageFor(model => model.S_S_D_MAX)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_AT_POS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_AT_POS)
            @Html.ValidationMessageFor(model => model.S_AT_POS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_BRN_RATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_BRN_RATE)
            @Html.ValidationMessageFor(model => model.S_BRN_RATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_D_M_L)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_D_M_L)
            @Html.ValidationMessageFor(model => model.S_D_M_L)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_D_GRIND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_D_GRIND)
            @Html.ValidationMessageFor(model => model.S_D_GRIND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_D_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_D_HRS)
            @Html.ValidationMessageFor(model => model.S_D_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_S_D_A_S)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_S_D_A_S)
            @Html.ValidationMessageFor(model => model.S_S_D_A_S)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_M_S_D_S)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_M_S_D_S)
            @Html.ValidationMessageFor(model => model.S_M_S_D_S)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_W_S_R)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_W_S_R)
            @Html.ValidationMessageFor(model => model.S_W_S_R)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.S_REM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.S_REM)
            @Html.ValidationMessageFor(model => model.S_REM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.H_MARK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.H_MARK)
            @Html.ValidationMessageFor(model => model.H_MARK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.H_DRAW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.H_DRAW)
            @Html.ValidationMessageFor(model => model.H_DRAW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.H_LST_OVL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.H_LST_OVL)
            @Html.ValidationMessageFor(model => model.H_LST_OVL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.H_HRS_TOT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.H_HRS_TOT)
            @Html.ValidationMessageFor(model => model.H_HRS_TOT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.H_MINTOP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.H_MINTOP)
            @Html.ValidationMessageFor(model => model.H_MINTOP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.H_MAXTOP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.H_MAXTOP)
            @Html.ValidationMessageFor(model => model.H_MAXTOP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.H_MINBOT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.H_MINBOT)
            @Html.ValidationMessageFor(model => model.H_MINBOT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.H_MAXBOT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.H_MAXBOT)
            @Html.ValidationMessageFor(model => model.H_MAXBOT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.H_SP_G_H_T)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.H_SP_G_H_T)
            @Html.ValidationMessageFor(model => model.H_SP_G_H_T)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_MM_A_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_MM_A_1)
            @Html.ValidationMessageFor(model => model.C_MM_A_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_MM_A_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_MM_A_2)
            @Html.ValidationMessageFor(model => model.C_MM_A_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_MM_A_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_MM_A_3)
            @Html.ValidationMessageFor(model => model.C_MM_A_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_MM_B_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_MM_B_1)
            @Html.ValidationMessageFor(model => model.C_MM_B_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_MM_B_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_MM_B_2)
            @Html.ValidationMessageFor(model => model.C_MM_B_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_MM_B_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_MM_B_3)
            @Html.ValidationMessageFor(model => model.C_MM_B_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_MM_C_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_MM_C_1)
            @Html.ValidationMessageFor(model => model.C_MM_C_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_MM_C_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_MM_C_2)
            @Html.ValidationMessageFor(model => model.C_MM_C_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_MM_C_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_MM_C_3)
            @Html.ValidationMessageFor(model => model.C_MM_C_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_PO_A_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_PO_A_1)
            @Html.ValidationMessageFor(model => model.C_PO_A_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_PO_A_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_PO_A_2)
            @Html.ValidationMessageFor(model => model.C_PO_A_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_PO_A_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_PO_A_3)
            @Html.ValidationMessageFor(model => model.C_PO_A_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_PO_B_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_PO_B_1)
            @Html.ValidationMessageFor(model => model.C_PO_B_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_PO_B_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_PO_B_2)
            @Html.ValidationMessageFor(model => model.C_PO_B_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_PO_B_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_PO_B_3)
            @Html.ValidationMessageFor(model => model.C_PO_B_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_PO_C_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_PO_C_1)
            @Html.ValidationMessageFor(model => model.C_PO_C_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_PO_C_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_PO_C_2)
            @Html.ValidationMessageFor(model => model.C_PO_C_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_PO_C_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_PO_C_3)
            @Html.ValidationMessageFor(model => model.C_PO_C_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_REM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_REM)
            @Html.ValidationMessageFor(model => model.C_REM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
