@model PMS.GROOVE16_INSP

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GROOVE16_INSP</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPECODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPECODE)
            @Html.ValidationMessageFor(model => model.TYPECODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BUILDER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BUILDER)
            @Html.ValidationMessageFor(model => model.BUILDER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_NO)
            @Html.ValidationMessageFor(model => model.ENG_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CHECKEDBY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHECKEDBY)
            @Html.ValidationMessageFor(model => model.CHECKEDBY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NO_OF_CYL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NO_OF_CYL)
            @Html.ValidationMessageFor(model => model.NO_OF_CYL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_TYPE)
            @Html.ValidationMessageFor(model => model.ENG_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_HRS)
            @Html.ValidationMessageFor(model => model.ENG_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CROWN_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CROWN_HRS)
            @Html.ValidationMessageFor(model => model.CROWN_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UNITNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UNITNO)
            @Html.ValidationMessageFor(model => model.UNITNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENTDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENTDATE)
            @Html.ValidationMessageFor(model => model.ENTDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNG_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNG_NO)
            @Html.ValidationMessageFor(model => model.RNG_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ROW_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ROW_ID)
            @Html.ValidationMessageFor(model => model.ROW_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FORE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FORE)
            @Html.ValidationMessageFor(model => model.FORE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T23)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T23)
            @Html.ValidationMessageFor(model => model.T23)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T45)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T45)
            @Html.ValidationMessageFor(model => model.T45)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T68)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T68)
            @Html.ValidationMessageFor(model => model.T68)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EXH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EXH)
            @Html.ValidationMessageFor(model => model.EXH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T113)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T113)
            @Html.ValidationMessageFor(model => model.T113)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T135)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T135)
            @Html.ValidationMessageFor(model => model.T135)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T158)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T158)
            @Html.ValidationMessageFor(model => model.T158)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AFT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AFT)
            @Html.ValidationMessageFor(model => model.AFT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T203)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T203)
            @Html.ValidationMessageFor(model => model.T203)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T225)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T225)
            @Html.ValidationMessageFor(model => model.T225)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T248)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T248)
            @Html.ValidationMessageFor(model => model.T248)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAN)
            @Html.ValidationMessageFor(model => model.MAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T293)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T293)
            @Html.ValidationMessageFor(model => model.T293)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T315)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T315)
            @Html.ValidationMessageFor(model => model.T315)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T338)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T338)
            @Html.ValidationMessageFor(model => model.T338)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
