@model PMS.GROOVE16_INSP

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>GROOVE16_INSP</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPECODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPECODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUILDER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUILDER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CHECKEDBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CHECKEDBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NO_OF_CYL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NO_OF_CYL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_HRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_HRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CROWN_HRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CROWN_HRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNITNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNITNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNG_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNG_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROW_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROW_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FORE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FORE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T23)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T23)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T45)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T45)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T68)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T68)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EXH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EXH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T113)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T113)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T135)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T135)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T158)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T158)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AFT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AFT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T203)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T203)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T225)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T225)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T248)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T248)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T293)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T293)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T315)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T315)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T338)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T338)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
