@model IEnumerable<PMS.GROOVE16_INSP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TYPECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUILDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHECKEDBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO_OF_CYL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_HRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CROWN_HRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNITNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNG_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROW_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FORE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T23)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T45)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T68)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T113)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T135)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T158)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T203)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T225)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T248)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T293)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T315)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T338)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TYPECODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUILDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHECKEDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO_OF_CYL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_HRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CROWN_HRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNITNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNG_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROW_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FORE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T45)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T68)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T113)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T135)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T158)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AFT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T203)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T225)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T248)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T293)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T315)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T338)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
