@model PMS.INJURYPER

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>INJURYPER</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SRNUMB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SRNUMB)
            @Html.ValidationMessageFor(model => model.SRNUMB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CREWCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CREWCODE)
            @Html.ValidationMessageFor(model => model.CREWCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CREWNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CREWNAME)
            @Html.ValidationMessageFor(model => model.CREWNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JDATE)
            @Html.ValidationMessageFor(model => model.JDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CDATE)
            @Html.ValidationMessageFor(model => model.CDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPATRIAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPATRIAT)
            @Html.ValidationMessageFor(model => model.REPATRIAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HOSPITAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HOSPITAL)
            @Html.ValidationMessageFor(model => model.HOSPITAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RANK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RANK)
            @Html.ValidationMessageFor(model => model.RANK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
