@model PMS.AEBERHED

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AEBERHED</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL_DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL_DATE)
            @Html.ValidationMessageFor(model => model.CL_DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_TYPE)
            @Html.ValidationMessageFor(model => model.ENG_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NORM_BORE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NORM_BORE)
            @Html.ValidationMessageFor(model => model.NORM_BORE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LAST_OVER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LAST_OVER)
            @Html.ValidationMessageFor(model => model.LAST_OVER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RUN_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RUN_HRS)
            @Html.ValidationMessageFor(model => model.RUN_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_NO)
            @Html.ValidationMessageFor(model => model.ENG_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_LOCA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_LOCA)
            @Html.ValidationMessageFor(model => model.ENG_LOCA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REMARKS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REMARKS)
            @Html.ValidationMessageFor(model => model.REMARKS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MEAS_BY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MEAS_BY)
            @Html.ValidationMessageFor(model => model.MEAS_BY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CHK_INTER1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHK_INTER1)
            @Html.ValidationMessageFor(model => model.CHK_INTER1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STD_CLE11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STD_CLE11)
            @Html.ValidationMessageFor(model => model.STD_CLE11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STD_CLE12)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STD_CLE12)
            @Html.ValidationMessageFor(model => model.STD_CLE12)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WER_LIMIT1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WER_LIMIT1)
            @Html.ValidationMessageFor(model => model.WER_LIMIT1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CHK_INTER2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHK_INTER2)
            @Html.ValidationMessageFor(model => model.CHK_INTER2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STD_CLE21)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STD_CLE21)
            @Html.ValidationMessageFor(model => model.STD_CLE21)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STD_CLE22)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STD_CLE22)
            @Html.ValidationMessageFor(model => model.STD_CLE22)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WER_LIMIT2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WER_LIMIT2)
            @Html.ValidationMessageFor(model => model.WER_LIMIT2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAX_ALLOW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAX_ALLOW)
            @Html.ValidationMessageFor(model => model.MAX_ALLOW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CRANK_TEMP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CRANK_TEMP)
            @Html.ValidationMessageFor(model => model.CRANK_TEMP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NUM)
            @Html.ValidationMessageFor(model => model.NUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
