@model PMS.AEPERDETL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AEPERDETL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENGNUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENGNUM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNITNUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNITNUM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMAX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMAX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FUELRACK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FUELRACK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EXHTEMP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EXHTEMP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JKTTEMP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JKTTEMP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
