@model PMS.AEPERDETL

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AEPERDETL</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.DT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DT)
            @Html.ValidationMessageFor(model => model.DT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENGNUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENGNUM)
            @Html.ValidationMessageFor(model => model.ENGNUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UNITNUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UNITNUM)
            @Html.ValidationMessageFor(model => model.UNITNUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMAX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMAX)
            @Html.ValidationMessageFor(model => model.PMAX)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FUELRACK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FUELRACK)
            @Html.ValidationMessageFor(model => model.FUELRACK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EXHTEMP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EXHTEMP)
            @Html.ValidationMessageFor(model => model.EXHTEMP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JKTTEMP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JKTTEMP)
            @Html.ValidationMessageFor(model => model.JKTTEMP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
