@model IEnumerable<PMS.AEPERDETL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENGNUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNITNUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FUELRACK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXHTEMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JKTTEMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENGNUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNITNUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMAX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FUELRACK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXHTEMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JKTTEMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
