@model PMS.HATCHDETL

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>HATCHDETL</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPECODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPECODE)
            @Html.ValidationMessageFor(model => model.TYPECODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPE)
            @Html.ValidationMessageFor(model => model.TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FLD1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FLD1)
            @Html.ValidationMessageFor(model => model.FLD1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FLD2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FLD2)
            @Html.ValidationMessageFor(model => model.FLD2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FLD3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FLD3)
            @Html.ValidationMessageFor(model => model.FLD3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FLD4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FLD4)
            @Html.ValidationMessageFor(model => model.FLD4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FLD5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FLD5)
            @Html.ValidationMessageFor(model => model.FLD5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FLD6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FLD6)
            @Html.ValidationMessageFor(model => model.FLD6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FLD7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FLD7)
            @Html.ValidationMessageFor(model => model.FLD7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FLD8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FLD8)
            @Html.ValidationMessageFor(model => model.FLD8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FLD9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FLD9)
            @Html.ValidationMessageFor(model => model.FLD9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NARRATIVE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NARRATIVE)
            @Html.ValidationMessageFor(model => model.NARRATIVE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PHOTO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PHOTO)
            @Html.ValidationMessageFor(model => model.PHOTO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPAIRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPAIRS)
            @Html.ValidationMessageFor(model => model.REPAIRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPAIRDOCK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPAIRDOCK)
            @Html.ValidationMessageFor(model => model.REPAIRDOCK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FOLLOWUP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FOLLOWUP)
            @Html.ValidationMessageFor(model => model.FOLLOWUP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
