@model PMS.MAINMEG

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MAINMEG</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MEGGERCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MEGGERCODE)
            @Html.ValidationMessageFor(model => model.MEGGERCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MEGGERITEM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MEGGERITEM)
            @Html.ValidationMessageFor(model => model.MEGGERITEM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KWRATING)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KWRATING)
            @Html.ValidationMessageFor(model => model.KWRATING)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WPROOF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WPROOF)
            @Html.ValidationMessageFor(model => model.WPROOF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BEARINGNUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEARINGNUM)
            @Html.ValidationMessageFor(model => model.BEARINGNUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
