@model PMS.MAINMEG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MAINMEG</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEGGERCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEGGERCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEGGERITEM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEGGERITEM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KWRATING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KWRATING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WPROOF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WPROOF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BEARINGNUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BEARINGNUM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
