@model PMS.MSM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MSM</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CATAGORY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CATAGORY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GRPCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GRPCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GRPNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GRPNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBGRPCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBGRPCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBGRPNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBGRPNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MSMCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MSMCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MSMDESC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MSMDESC)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
