@model PMS.PETPM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PETPM</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSITEM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSITEM)
            @Html.ValidationMessageFor(model => model.PMSITEM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEADR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEADR)
            @Html.ValidationMessageFor(model => model.HEADR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EQCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EQCODE)
            @Html.ValidationMessageFor(model => model.EQCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PERIOD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PERIOD)
            @Html.ValidationMessageFor(model => model.PERIOD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.INTERVAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.INTERVAL)
            @Html.ValidationMessageFor(model => model.INTERVAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCHED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCHED)
            @Html.ValidationMessageFor(model => model.SCHED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OHAULAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OHAULAT)
            @Html.ValidationMessageFor(model => model.OHAULAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HRSNET)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HRSNET)
            @Html.ValidationMessageFor(model => model.HRSNET)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.M_E_D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.M_E_D)
            @Html.ValidationMessageFor(model => model.M_E_D)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.E_D_S)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.E_D_S)
            @Html.ValidationMessageFor(model => model.E_D_S)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CRIT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CRIT)
            @Html.ValidationMessageFor(model => model.CRIT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RESPONSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RESPONSE)
            @Html.ValidationMessageFor(model => model.RESPONSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANUFCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANUFCODE)
            @Html.ValidationMessageFor(model => model.MANUFCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPE)
            @Html.ValidationMessageFor(model => model.TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SERIAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SERIAL)
            @Html.ValidationMessageFor(model => model.SERIAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DECOMM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DECOMM)
            @Html.ValidationMessageFor(model => model.DECOMM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STPOINT2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STPOINT2)
            @Html.ValidationMessageFor(model => model.STPOINT2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STPOINT3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STPOINT3)
            @Html.ValidationMessageFor(model => model.STPOINT3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STPOINT4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STPOINT4)
            @Html.ValidationMessageFor(model => model.STPOINT4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SETRANGE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SETRANGE)
            @Html.ValidationMessageFor(model => model.SETRANGE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
