@model PMS.DEFECT

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DEFECT</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.USERCAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.USERCAT)
            @Html.ValidationMessageFor(model => model.USERCAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DMONTH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DMONTH)
            @Html.ValidationMessageFor(model => model.DMONTH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DYEAR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DYEAR)
            @Html.ValidationMessageFor(model => model.DYEAR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CATEGORY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CATEGORY)
            @Html.ValidationMessageFor(model => model.CATEGORY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SLNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLNO)
            @Html.ValidationMessageFor(model => model.SLNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REFNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REFNO)
            @Html.ValidationMessageFor(model => model.REFNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DTFOUND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DTFOUND)
            @Html.ValidationMessageFor(model => model.DTFOUND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ORDCAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ORDCAT)
            @Html.ValidationMessageFor(model => model.ORDCAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPORD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPORD)
            @Html.ValidationMessageFor(model => model.REPORD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEFECTIVE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEFECTIVE)
            @Html.ValidationMessageFor(model => model.DEFECTIVE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RECTIFIED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RECTIFIED)
            @Html.ValidationMessageFor(model => model.RECTIFIED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DRYDOCK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DRYDOCK)
            @Html.ValidationMessageFor(model => model.DRYDOCK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REMARKS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REMARKS)
            @Html.ValidationMessageFor(model => model.REMARKS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DTRECTIFY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DTRECTIFY)
            @Html.ValidationMessageFor(model => model.DTRECTIFY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CANCELED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CANCELED)
            @Html.ValidationMessageFor(model => model.CANCELED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.USERNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.USERNAME)
            @Html.ValidationMessageFor(model => model.USERNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMS)
            @Html.ValidationMessageFor(model => model.PMS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NONPMS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NONPMS)
            @Html.ValidationMessageFor(model => model.NONPMS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CRITICAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CRITICAL)
            @Html.ValidationMessageFor(model => model.CRITICAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAFETY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAFETY)
            @Html.ValidationMessageFor(model => model.SAFETY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRPCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRPCODE)
            @Html.ValidationMessageFor(model => model.GRPCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OFFUNIQ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OFFUNIQ)
            @Html.ValidationMessageFor(model => model.OFFUNIQ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CAUSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CAUSE)
            @Html.ValidationMessageFor(model => model.CAUSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ASSIST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ASSIST)
            @Html.ValidationMessageFor(model => model.ASSIST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ITEMNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ITEMNAME)
            @Html.ValidationMessageFor(model => model.ITEMNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DDSPEC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DDSPEC)
            @Html.ValidationMessageFor(model => model.DDSPEC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TARGETDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TARGETDT)
            @Html.ValidationMessageFor(model => model.TARGETDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MARPOL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MARPOL)
            @Html.ValidationMessageFor(model => model.MARPOL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VESSEL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VESSEL)
            @Html.ValidationMessageFor(model => model.VESSEL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SMS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SMS)
            @Html.ValidationMessageFor(model => model.SMS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SIRE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SIRE)
            @Html.ValidationMessageFor(model => model.SIRE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CDI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CDI)
            @Html.ValidationMessageFor(model => model.CDI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSC)
            @Html.ValidationMessageFor(model => model.PSC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SOLAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SOLAS)
            @Html.ValidationMessageFor(model => model.SOLAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TECCLASS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TECCLASS)
            @Html.ValidationMessageFor(model => model.TECCLASS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OTHERS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OTHERS)
            @Html.ValidationMessageFor(model => model.OTHERS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OFFUPDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OFFUPDT)
            @Html.ValidationMessageFor(model => model.OFFUPDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SIRECODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SIRECODE)
            @Html.ValidationMessageFor(model => model.SIRECODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAJ_MIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAJ_MIN)
            @Html.ValidationMessageFor(model => model.MAJ_MIN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSTPND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSTPND)
            @Html.ValidationMessageFor(model => model.PSTPND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSTREM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSTREM)
            @Html.ValidationMessageFor(model => model.PSTREM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OLDTGDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OLDTGDT)
            @Html.ValidationMessageFor(model => model.OLDTGDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEFTODD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEFTODD)
            @Html.ValidationMessageFor(model => model.DEFTODD)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
