@model IEnumerable<PMS.DEFECT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USERCAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DMONTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DYEAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REFNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTFOUND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDCAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REPORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEFECTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RECTIFIED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DRYDOCK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTRECTIFY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CANCELED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NONPMS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRITICAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SAFETY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRPCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OFFUNIQ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAUSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASSIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DDSPEC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TARGETDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARPOL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VESSEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PSC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TECCLASS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OTHERS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OFFUPDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIRECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAJ_MIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PSTPND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PSTREM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OLDTGDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEFTODD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USERCAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DMONTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DYEAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REFNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTFOUND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDCAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REPORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEFECTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RECTIFIED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DRYDOCK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTRECTIFY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANCELED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NONPMS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRITICAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SAFETY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRPCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OFFUNIQ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAUSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASSIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEMNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DDSPEC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TARGETDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARPOL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VESSEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SMS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PSC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TECCLASS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OTHERS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OFFUPDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIRECODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAJ_MIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PSTPND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PSTREM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OLDTGDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEFTODD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
