@model PMS.DBLTHEAD

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DBLTHEAD</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.INSPBY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.INSPBY)
            @Html.ValidationMessageFor(model => model.INSPBY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ALLS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ALLS)
            @Html.ValidationMessageFor(model => model.ALLS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PORT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PORT)
            @Html.ValidationMessageFor(model => model.PORT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STBD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STBD)
            @Html.ValidationMessageFor(model => model.STBD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FWD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FWD)
            @Html.ValidationMessageFor(model => model.FWD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AFT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AFT)
            @Html.ValidationMessageFor(model => model.AFT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UPP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UPP)
            @Html.ValidationMessageFor(model => model.UPP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LWR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LWR)
            @Html.ValidationMessageFor(model => model.LWR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENTINS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENTINS)
            @Html.ValidationMessageFor(model => model.ENTINS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENTNOTE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENTNOTE)
            @Html.ValidationMessageFor(model => model.ENTNOTE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACCINS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACCINS)
            @Html.ValidationMessageFor(model => model.ACCINS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACCNOTE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACCNOTE)
            @Html.ValidationMessageFor(model => model.ACCNOTE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SOUINS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SOUINS)
            @Html.ValidationMessageFor(model => model.SOUINS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SOURNOTE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SOURNOTE)
            @Html.ValidationMessageFor(model => model.SOURNOTE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIPINS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIPINS)
            @Html.ValidationMessageFor(model => model.PIPINS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIPNOTE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIPNOTE)
            @Html.ValidationMessageFor(model => model.PIPNOTE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUCINS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUCINS)
            @Html.ValidationMessageFor(model => model.SUCINS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUCNOTE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUCNOTE)
            @Html.ValidationMessageFor(model => model.SUCNOTE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REMARKS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REMARKS)
            @Html.ValidationMessageFor(model => model.REMARKS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DETAIL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DETAIL)
            @Html.ValidationMessageFor(model => model.DETAIL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HOLDNO1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HOLDNO1)
            @Html.ValidationMessageFor(model => model.HOLDNO1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HOLDNO2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HOLDNO2)
            @Html.ValidationMessageFor(model => model.HOLDNO2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TESTALL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TESTALL)
            @Html.ValidationMessageFor(model => model.TESTALL)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
