@model PMS.DBLTHEAD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DBLTHEAD</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSPBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSPBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ALLS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ALLS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PORT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PORT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STBD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STBD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FWD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FWD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AFT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AFT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LWR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LWR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTINS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTINS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTNOTE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTNOTE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACCINS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACCINS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACCNOTE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACCNOTE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SOUINS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SOUINS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SOURNOTE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SOURNOTE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PIPINS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PIPINS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PIPNOTE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PIPNOTE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUCINS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUCINS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUCNOTE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUCNOTE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DETAIL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DETAIL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOLDNO1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOLDNO1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOLDNO2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOLDNO2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TESTALL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TESTALL)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
