@model PMS.ME_PERFORM_INSP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ME_PERFORM_INSP</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPECODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPECODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUILDER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUILDER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YARD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YARD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAYOUT_KW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAYOUT_KW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAYOUT_RPM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAYOUT_RPM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SIGN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SIGN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEST_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEST_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NO_OF_TC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NO_OF_TC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_SRLNO_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_SRLNO_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_SRLNO_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_SRLNO_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_SRLNO_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_SRLNO_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_SRLNO_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_SRLNO_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NO_OF_CYL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NO_OF_CYL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BORE_M)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BORE_M)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STROKE_M)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STROKE_M)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_MAKE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_MAKE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYL_MEAN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYL_MEAN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_MAX_RPM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_MAX_RPM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_MAX_TEMP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_MAX_TEMP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.C_SLIP_FAC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.C_SLIP_FAC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.C_DIAM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.C_DIAM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYL_INT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYL_INT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_EXFRMME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_EXFRMME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_EXFRMGT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_EXFRMGT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_SPEC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_SPEC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OBS_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OBS_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FOIL_VISCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FOIL_VISCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FVISCO_AT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FVISCO_AT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUNK_STA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUNK_STA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLOIL_BRN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLOIL_BRN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLOIL_TYP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLOIL_TYP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OIL_BRAND)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OIL_BRAND)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HEAT_VALVE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HEAT_VALVE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CIROIL_BRN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CIROIL_BRN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CIROIL_TYP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CIROIL_TYP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DENS_AT15)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DENS_AT15)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUL_PER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUL_PER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TOIL_BRN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TOIL_BRN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TOIL_TYP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TOIL_TYP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEST_DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEST_DT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEST_HOUR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEST_HOUR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LOAD_PER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOAD_PER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AMB_PRE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AMB_PRE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_RPM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_RPM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_RUN_HRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_RUN_HRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GOV_INDX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GOV_INDX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPD_SET)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPD_SET)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIT_CONT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIT_CONT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRAFT_FORE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRAFT_FORE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LOG_KNOTS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOG_KNOTS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WIND_M_S)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WIND_M_S)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WIND_DIREC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WIND_DIREC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EF_PWR_KW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EF_PWR_KW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IND_PWR_KW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IND_PWR_KW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EF_FUL_CON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EF_FUL_CON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IN_FUL_CON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IN_FUL_CON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRAFT_AFT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRAFT_AFT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OBS_KNOTS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OBS_KNOTS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WAVE_HIGHT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WAVE_HIGHT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WAV_DIREC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WAV_DIREC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AC_IN_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AC_IN_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AC_IN_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AC_IN_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AC_IN_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AC_IN_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AC_IN_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AC_IN_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AC_OUT_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AC_OUT_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AC_OUT_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AC_OUT_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AC_OUT_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AC_OUT_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AC_OUT_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AC_OUT_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ME_INLET)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ME_INLET)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ME_S_W_TEM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ME_S_W_TEM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ME_TO_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ME_TO_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ME_TO_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ME_TO_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ME_TO_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ME_TO_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ME_TO_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ME_TO_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EG_T_IN_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EG_T_IN_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EG_T_IN_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EG_T_IN_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EG_T_IN_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EG_T_IN_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EG_T_IN_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EG_T_IN_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EG_T_OU_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EG_T_OU_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EG_T_OU_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EG_T_OU_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EG_T_OU_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EG_T_OU_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EG_T_OU_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EG_T_OU_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EP_REC_BAR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EP_REC_BAR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EP_REC_MM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EP_REC_MM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EP_TO_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EP_TO_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EP_TO_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EP_TO_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EP_TO_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EP_TO_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EP_TO_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EP_TO_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_RPM_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_RPM_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_RPM_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_RPM_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_RPM_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_RPM_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_RPM_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_RPM_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AU_BL_ONOF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AU_BL_ONOF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AU_VI_MM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AU_VI_MM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_FLT_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_FLT_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_FLT_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_FLT_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_FLT_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_FLT_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_FLT_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_FLT_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_COL_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_COL_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_COL_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_COL_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_COL_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_COL_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_COL_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_COL_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_REC_BAR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_REC_BAR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_REC_MM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_REC_MM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SC_AIR_TEM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SC_AIR_TEM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_IB_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_IB_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_IB_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_IB_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_IB_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_IB_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_IB_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_IB_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_BC_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_BC_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_BC_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_BC_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_BC_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_BC_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_BC_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_BC_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_AC_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_AC_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_AC_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_AC_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_AC_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_AC_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCT_AC_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCT_AC_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRE_SYSOIL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRE_SYSOIL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRE_COLOIL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRE_COLOIL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRE_CAMOIL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRE_CAMOIL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRE_TUROIL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRE_TUROIL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEM_INENG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEM_INENG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEM_INCAM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEM_INCAM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEM_OUTCAM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEM_OUTCAM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRE_THUSEG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRE_THUSEG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_IN_BL_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_IN_BL_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_IN_BL_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_IN_BL_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_IN_BL_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_IN_BL_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_IN_BL_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_IN_BL_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_OU_BL_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_OU_BL_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_OU_BL_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_OU_BL_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_OU_BL_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_OU_BL_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TC_OU_BL_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TC_OU_BL_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FO_PRE_BF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FO_PRE_BF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FO_PRE_AF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FO_PRE_AF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEM_BP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEM_BP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
