@model PMS.ME_PERFORM_INSP

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ME_PERFORM_INSP</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPECODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPECODE)
            @Html.ValidationMessageFor(model => model.TYPECODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_TYPE)
            @Html.ValidationMessageFor(model => model.ENG_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BUILDER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BUILDER)
            @Html.ValidationMessageFor(model => model.BUILDER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_NO)
            @Html.ValidationMessageFor(model => model.ENG_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YARD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YARD)
            @Html.ValidationMessageFor(model => model.YARD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LAYOUT_KW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LAYOUT_KW)
            @Html.ValidationMessageFor(model => model.LAYOUT_KW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LAYOUT_RPM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LAYOUT_RPM)
            @Html.ValidationMessageFor(model => model.LAYOUT_RPM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SIGN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SIGN)
            @Html.ValidationMessageFor(model => model.SIGN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEST_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEST_NO)
            @Html.ValidationMessageFor(model => model.TEST_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NO_OF_TC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NO_OF_TC)
            @Html.ValidationMessageFor(model => model.NO_OF_TC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_SRLNO_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_SRLNO_1)
            @Html.ValidationMessageFor(model => model.T_SRLNO_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_SRLNO_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_SRLNO_2)
            @Html.ValidationMessageFor(model => model.T_SRLNO_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_SRLNO_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_SRLNO_3)
            @Html.ValidationMessageFor(model => model.T_SRLNO_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_SRLNO_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_SRLNO_4)
            @Html.ValidationMessageFor(model => model.T_SRLNO_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NO_OF_CYL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NO_OF_CYL)
            @Html.ValidationMessageFor(model => model.NO_OF_CYL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BORE_M)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BORE_M)
            @Html.ValidationMessageFor(model => model.BORE_M)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STROKE_M)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STROKE_M)
            @Html.ValidationMessageFor(model => model.STROKE_M)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_MAKE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_MAKE)
            @Html.ValidationMessageFor(model => model.T_MAKE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_TYPE)
            @Html.ValidationMessageFor(model => model.T_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYL_MEAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYL_MEAN)
            @Html.ValidationMessageFor(model => model.CYL_MEAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_MAX_RPM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_MAX_RPM)
            @Html.ValidationMessageFor(model => model.T_MAX_RPM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_MAX_TEMP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_MAX_TEMP)
            @Html.ValidationMessageFor(model => model.T_MAX_TEMP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_SLIP_FAC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_SLIP_FAC)
            @Html.ValidationMessageFor(model => model.C_SLIP_FAC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_DIAM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_DIAM)
            @Html.ValidationMessageFor(model => model.C_DIAM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYL_INT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYL_INT)
            @Html.ValidationMessageFor(model => model.CYL_INT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL_EXFRMME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL_EXFRMME)
            @Html.ValidationMessageFor(model => model.CL_EXFRMME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL_EXFRMGT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL_EXFRMGT)
            @Html.ValidationMessageFor(model => model.CL_EXFRMGT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_SPEC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_SPEC)
            @Html.ValidationMessageFor(model => model.TC_SPEC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OBS_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OBS_NO)
            @Html.ValidationMessageFor(model => model.OBS_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FOIL_VISCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FOIL_VISCO)
            @Html.ValidationMessageFor(model => model.FOIL_VISCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FVISCO_AT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FVISCO_AT)
            @Html.ValidationMessageFor(model => model.FVISCO_AT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BUNK_STA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BUNK_STA)
            @Html.ValidationMessageFor(model => model.BUNK_STA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLOIL_BRN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLOIL_BRN)
            @Html.ValidationMessageFor(model => model.CYLOIL_BRN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLOIL_TYP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLOIL_TYP)
            @Html.ValidationMessageFor(model => model.CYLOIL_TYP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OIL_BRAND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OIL_BRAND)
            @Html.ValidationMessageFor(model => model.OIL_BRAND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEAT_VALVE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEAT_VALVE)
            @Html.ValidationMessageFor(model => model.HEAT_VALVE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CIROIL_BRN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CIROIL_BRN)
            @Html.ValidationMessageFor(model => model.CIROIL_BRN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CIROIL_TYP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CIROIL_TYP)
            @Html.ValidationMessageFor(model => model.CIROIL_TYP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DENS_AT15)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DENS_AT15)
            @Html.ValidationMessageFor(model => model.DENS_AT15)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUL_PER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUL_PER)
            @Html.ValidationMessageFor(model => model.SUL_PER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TOIL_BRN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TOIL_BRN)
            @Html.ValidationMessageFor(model => model.TOIL_BRN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TOIL_TYP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TOIL_TYP)
            @Html.ValidationMessageFor(model => model.TOIL_TYP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEST_DT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEST_DT)
            @Html.ValidationMessageFor(model => model.TEST_DT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEST_HOUR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEST_HOUR)
            @Html.ValidationMessageFor(model => model.TEST_HOUR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LOAD_PER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LOAD_PER)
            @Html.ValidationMessageFor(model => model.LOAD_PER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AMB_PRE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AMB_PRE)
            @Html.ValidationMessageFor(model => model.AMB_PRE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_RPM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_RPM)
            @Html.ValidationMessageFor(model => model.ENG_RPM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_RUN_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_RUN_HRS)
            @Html.ValidationMessageFor(model => model.T_RUN_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GOV_INDX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GOV_INDX)
            @Html.ValidationMessageFor(model => model.GOV_INDX)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SPD_SET)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SPD_SET)
            @Html.ValidationMessageFor(model => model.SPD_SET)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VIT_CONT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VIT_CONT)
            @Html.ValidationMessageFor(model => model.VIT_CONT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DRAFT_FORE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DRAFT_FORE)
            @Html.ValidationMessageFor(model => model.DRAFT_FORE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LOG_KNOTS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LOG_KNOTS)
            @Html.ValidationMessageFor(model => model.LOG_KNOTS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WIND_M_S)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WIND_M_S)
            @Html.ValidationMessageFor(model => model.WIND_M_S)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WIND_DIREC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WIND_DIREC)
            @Html.ValidationMessageFor(model => model.WIND_DIREC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EF_PWR_KW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EF_PWR_KW)
            @Html.ValidationMessageFor(model => model.EF_PWR_KW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IND_PWR_KW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IND_PWR_KW)
            @Html.ValidationMessageFor(model => model.IND_PWR_KW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EF_FUL_CON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EF_FUL_CON)
            @Html.ValidationMessageFor(model => model.EF_FUL_CON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IN_FUL_CON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IN_FUL_CON)
            @Html.ValidationMessageFor(model => model.IN_FUL_CON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DRAFT_AFT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DRAFT_AFT)
            @Html.ValidationMessageFor(model => model.DRAFT_AFT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OBS_KNOTS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OBS_KNOTS)
            @Html.ValidationMessageFor(model => model.OBS_KNOTS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WAVE_HIGHT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WAVE_HIGHT)
            @Html.ValidationMessageFor(model => model.WAVE_HIGHT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WAV_DIREC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WAV_DIREC)
            @Html.ValidationMessageFor(model => model.WAV_DIREC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AC_IN_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AC_IN_1)
            @Html.ValidationMessageFor(model => model.AC_IN_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AC_IN_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AC_IN_2)
            @Html.ValidationMessageFor(model => model.AC_IN_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AC_IN_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AC_IN_3)
            @Html.ValidationMessageFor(model => model.AC_IN_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AC_IN_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AC_IN_4)
            @Html.ValidationMessageFor(model => model.AC_IN_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AC_OUT_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AC_OUT_1)
            @Html.ValidationMessageFor(model => model.AC_OUT_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AC_OUT_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AC_OUT_2)
            @Html.ValidationMessageFor(model => model.AC_OUT_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AC_OUT_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AC_OUT_3)
            @Html.ValidationMessageFor(model => model.AC_OUT_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AC_OUT_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AC_OUT_4)
            @Html.ValidationMessageFor(model => model.AC_OUT_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ME_INLET)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ME_INLET)
            @Html.ValidationMessageFor(model => model.ME_INLET)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ME_S_W_TEM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ME_S_W_TEM)
            @Html.ValidationMessageFor(model => model.ME_S_W_TEM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ME_TO_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ME_TO_1)
            @Html.ValidationMessageFor(model => model.ME_TO_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ME_TO_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ME_TO_2)
            @Html.ValidationMessageFor(model => model.ME_TO_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ME_TO_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ME_TO_3)
            @Html.ValidationMessageFor(model => model.ME_TO_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ME_TO_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ME_TO_4)
            @Html.ValidationMessageFor(model => model.ME_TO_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EG_T_IN_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EG_T_IN_1)
            @Html.ValidationMessageFor(model => model.EG_T_IN_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EG_T_IN_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EG_T_IN_2)
            @Html.ValidationMessageFor(model => model.EG_T_IN_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EG_T_IN_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EG_T_IN_3)
            @Html.ValidationMessageFor(model => model.EG_T_IN_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EG_T_IN_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EG_T_IN_4)
            @Html.ValidationMessageFor(model => model.EG_T_IN_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EG_T_OU_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EG_T_OU_1)
            @Html.ValidationMessageFor(model => model.EG_T_OU_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EG_T_OU_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EG_T_OU_2)
            @Html.ValidationMessageFor(model => model.EG_T_OU_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EG_T_OU_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EG_T_OU_3)
            @Html.ValidationMessageFor(model => model.EG_T_OU_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EG_T_OU_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EG_T_OU_4)
            @Html.ValidationMessageFor(model => model.EG_T_OU_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EP_REC_BAR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EP_REC_BAR)
            @Html.ValidationMessageFor(model => model.EP_REC_BAR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EP_REC_MM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EP_REC_MM)
            @Html.ValidationMessageFor(model => model.EP_REC_MM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EP_TO_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EP_TO_1)
            @Html.ValidationMessageFor(model => model.EP_TO_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EP_TO_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EP_TO_2)
            @Html.ValidationMessageFor(model => model.EP_TO_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EP_TO_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EP_TO_3)
            @Html.ValidationMessageFor(model => model.EP_TO_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EP_TO_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EP_TO_4)
            @Html.ValidationMessageFor(model => model.EP_TO_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_RPM_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_RPM_1)
            @Html.ValidationMessageFor(model => model.TC_RPM_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_RPM_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_RPM_2)
            @Html.ValidationMessageFor(model => model.TC_RPM_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_RPM_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_RPM_3)
            @Html.ValidationMessageFor(model => model.TC_RPM_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_RPM_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_RPM_4)
            @Html.ValidationMessageFor(model => model.TC_RPM_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AU_BL_ONOF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AU_BL_ONOF)
            @Html.ValidationMessageFor(model => model.AU_BL_ONOF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AU_VI_MM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AU_VI_MM)
            @Html.ValidationMessageFor(model => model.AU_VI_MM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_FLT_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_FLT_1)
            @Html.ValidationMessageFor(model => model.SC_FLT_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_FLT_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_FLT_2)
            @Html.ValidationMessageFor(model => model.SC_FLT_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_FLT_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_FLT_3)
            @Html.ValidationMessageFor(model => model.SC_FLT_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_FLT_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_FLT_4)
            @Html.ValidationMessageFor(model => model.SC_FLT_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_COL_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_COL_1)
            @Html.ValidationMessageFor(model => model.SC_COL_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_COL_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_COL_2)
            @Html.ValidationMessageFor(model => model.SC_COL_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_COL_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_COL_3)
            @Html.ValidationMessageFor(model => model.SC_COL_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_COL_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_COL_4)
            @Html.ValidationMessageFor(model => model.SC_COL_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_REC_BAR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_REC_BAR)
            @Html.ValidationMessageFor(model => model.SC_REC_BAR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_REC_MM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_REC_MM)
            @Html.ValidationMessageFor(model => model.SC_REC_MM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SC_AIR_TEM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SC_AIR_TEM)
            @Html.ValidationMessageFor(model => model.SC_AIR_TEM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_IB_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_IB_1)
            @Html.ValidationMessageFor(model => model.SCT_IB_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_IB_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_IB_2)
            @Html.ValidationMessageFor(model => model.SCT_IB_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_IB_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_IB_3)
            @Html.ValidationMessageFor(model => model.SCT_IB_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_IB_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_IB_4)
            @Html.ValidationMessageFor(model => model.SCT_IB_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_BC_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_BC_1)
            @Html.ValidationMessageFor(model => model.SCT_BC_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_BC_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_BC_2)
            @Html.ValidationMessageFor(model => model.SCT_BC_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_BC_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_BC_3)
            @Html.ValidationMessageFor(model => model.SCT_BC_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_BC_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_BC_4)
            @Html.ValidationMessageFor(model => model.SCT_BC_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_AC_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_AC_1)
            @Html.ValidationMessageFor(model => model.SCT_AC_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_AC_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_AC_2)
            @Html.ValidationMessageFor(model => model.SCT_AC_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_AC_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_AC_3)
            @Html.ValidationMessageFor(model => model.SCT_AC_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCT_AC_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCT_AC_4)
            @Html.ValidationMessageFor(model => model.SCT_AC_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRE_SYSOIL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRE_SYSOIL)
            @Html.ValidationMessageFor(model => model.PRE_SYSOIL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRE_COLOIL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRE_COLOIL)
            @Html.ValidationMessageFor(model => model.PRE_COLOIL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRE_CAMOIL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRE_CAMOIL)
            @Html.ValidationMessageFor(model => model.PRE_CAMOIL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRE_TUROIL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRE_TUROIL)
            @Html.ValidationMessageFor(model => model.PRE_TUROIL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEM_INENG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEM_INENG)
            @Html.ValidationMessageFor(model => model.TEM_INENG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEM_INCAM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEM_INCAM)
            @Html.ValidationMessageFor(model => model.TEM_INCAM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEM_OUTCAM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEM_OUTCAM)
            @Html.ValidationMessageFor(model => model.TEM_OUTCAM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRE_THUSEG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRE_THUSEG)
            @Html.ValidationMessageFor(model => model.PRE_THUSEG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_IN_BL_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_IN_BL_1)
            @Html.ValidationMessageFor(model => model.TC_IN_BL_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_IN_BL_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_IN_BL_2)
            @Html.ValidationMessageFor(model => model.TC_IN_BL_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_IN_BL_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_IN_BL_3)
            @Html.ValidationMessageFor(model => model.TC_IN_BL_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_IN_BL_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_IN_BL_4)
            @Html.ValidationMessageFor(model => model.TC_IN_BL_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_OU_BL_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_OU_BL_1)
            @Html.ValidationMessageFor(model => model.TC_OU_BL_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_OU_BL_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_OU_BL_2)
            @Html.ValidationMessageFor(model => model.TC_OU_BL_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_OU_BL_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_OU_BL_3)
            @Html.ValidationMessageFor(model => model.TC_OU_BL_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TC_OU_BL_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TC_OU_BL_4)
            @Html.ValidationMessageFor(model => model.TC_OU_BL_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FO_PRE_BF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FO_PRE_BF)
            @Html.ValidationMessageFor(model => model.FO_PRE_BF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FO_PRE_AF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FO_PRE_AF)
            @Html.ValidationMessageFor(model => model.FO_PRE_AF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEM_BP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEM_BP)
            @Html.ValidationMessageFor(model => model.TEM_BP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REM)
            @Html.ValidationMessageFor(model => model.REM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
