@model PMS.LOGBOOK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LOGBOOK</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPECODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPECODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CATEGORY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CATEGORY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATA1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATA2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATA2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATA3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATA3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATA4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATA4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATA5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATA5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATA6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATA6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATA7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATA7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATA8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATA8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
