@model PMS.MEPERDET

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MEPERDET</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ITZ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ITZ)
            @Html.ValidationMessageFor(model => model.ITZ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO)
            @Html.ValidationMessageFor(model => model.CYLNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRESSMAX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRESSMAX)
            @Html.ValidationMessageFor(model => model.PRESSMAX)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRESSCOM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRESSCOM)
            @Html.ValidationMessageFor(model => model.PRESSCOM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRESMAXCOM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRESMAXCOM)
            @Html.ValidationMessageFor(model => model.PRESMAXCOM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MIP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MIP)
            @Html.ValidationMessageFor(model => model.MIP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FUELPINDEX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FUELPINDEX)
            @Html.ValidationMessageFor(model => model.FUELPINDEX)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FUELPVIT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FUELPVIT)
            @Html.ValidationMessageFor(model => model.FUELPVIT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EXHTEMP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EXHTEMP)
            @Html.ValidationMessageFor(model => model.EXHTEMP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IHP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IHP)
            @Html.ValidationMessageFor(model => model.IHP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LASTOHAUL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LASTOHAUL)
            @Html.ValidationMessageFor(model => model.LASTOHAUL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UNITOHAUL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UNITOHAUL)
            @Html.ValidationMessageFor(model => model.UNITOHAUL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NEWLINER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NEWLINER)
            @Html.ValidationMessageFor(model => model.NEWLINER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.INJECHANGE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.INJECHANGE)
            @Html.ValidationMessageFor(model => model.INJECHANGE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EXHVALCHG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EXHVALCHG)
            @Html.ValidationMessageFor(model => model.EXHVALCHG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NUM)
            @Html.ValidationMessageFor(model => model.NUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
