@model PMS.AUXODET1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AUXODET1</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO1FA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO1FA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO1PS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO1PS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO2FA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO2FA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO2PS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO2PS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO3FA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO3FA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO3PS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO3PS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO4FA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO4FA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO4PS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO4PS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO5FA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO5FA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO5PS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO5PS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO6FA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO6FA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO6PS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO6PS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO7FA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO7FA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO7PS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO7PS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO8FA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO8FA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO8PS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO8PS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO9FA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO9FA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO9PS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO9PS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO10FA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO10FA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO10PS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO10PS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NUM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
