@model PMS.AUXODET1

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AUXODET1</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPE)
            @Html.ValidationMessageFor(model => model.TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO1FA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO1FA)
            @Html.ValidationMessageFor(model => model.CYLNO1FA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO1PS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO1PS)
            @Html.ValidationMessageFor(model => model.CYLNO1PS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO2FA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO2FA)
            @Html.ValidationMessageFor(model => model.CYLNO2FA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO2PS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO2PS)
            @Html.ValidationMessageFor(model => model.CYLNO2PS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO3FA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO3FA)
            @Html.ValidationMessageFor(model => model.CYLNO3FA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO3PS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO3PS)
            @Html.ValidationMessageFor(model => model.CYLNO3PS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO4FA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO4FA)
            @Html.ValidationMessageFor(model => model.CYLNO4FA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO4PS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO4PS)
            @Html.ValidationMessageFor(model => model.CYLNO4PS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO5FA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO5FA)
            @Html.ValidationMessageFor(model => model.CYLNO5FA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO5PS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO5PS)
            @Html.ValidationMessageFor(model => model.CYLNO5PS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO6FA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO6FA)
            @Html.ValidationMessageFor(model => model.CYLNO6FA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO6PS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO6PS)
            @Html.ValidationMessageFor(model => model.CYLNO6PS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO7FA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO7FA)
            @Html.ValidationMessageFor(model => model.CYLNO7FA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO7PS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO7PS)
            @Html.ValidationMessageFor(model => model.CYLNO7PS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO8FA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO8FA)
            @Html.ValidationMessageFor(model => model.CYLNO8FA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO8PS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO8PS)
            @Html.ValidationMessageFor(model => model.CYLNO8PS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO9FA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO9FA)
            @Html.ValidationMessageFor(model => model.CYLNO9FA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO9PS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO9PS)
            @Html.ValidationMessageFor(model => model.CYLNO9PS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO10FA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO10FA)
            @Html.ValidationMessageFor(model => model.CYLNO10FA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLNO10PS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLNO10PS)
            @Html.ValidationMessageFor(model => model.CYLNO10PS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NUM)
            @Html.ValidationMessageFor(model => model.NUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
