@model IEnumerable<PMS.AUXODET1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO1FA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO1PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO2FA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO2PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO3FA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO3PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO4FA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO4PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO5FA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO5PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO6FA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO6PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO7FA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO7PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO8FA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO8PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO9FA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO9PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO10FA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLNO10PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO1FA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO1PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO2FA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO2PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO3FA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO3PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO4FA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO4PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO5FA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO5PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO6FA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO6PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO7FA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO7PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO8FA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO8PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO9FA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO9PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO10FA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLNO10PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
