@model PMS.AECRPDTL

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AECRPDTL</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL_DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL_DATE)
            @Html.ValidationMessageFor(model => model.CL_DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SLNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLNO)
            @Html.ValidationMessageFor(model => model.SLNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CP_CYL1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CP_CYL1)
            @Html.ValidationMessageFor(model => model.CP_CYL1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CP_CYL2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CP_CYL2)
            @Html.ValidationMessageFor(model => model.CP_CYL2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CP_CYL3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CP_CYL3)
            @Html.ValidationMessageFor(model => model.CP_CYL3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CP_CYL4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CP_CYL4)
            @Html.ValidationMessageFor(model => model.CP_CYL4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CP_CYL5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CP_CYL5)
            @Html.ValidationMessageFor(model => model.CP_CYL5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CP_CYL6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CP_CYL6)
            @Html.ValidationMessageFor(model => model.CP_CYL6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CP_CYL7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CP_CYL7)
            @Html.ValidationMessageFor(model => model.CP_CYL7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CP_CYL8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CP_CYL8)
            @Html.ValidationMessageFor(model => model.CP_CYL8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CP_CYL9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CP_CYL9)
            @Html.ValidationMessageFor(model => model.CP_CYL9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CP_CYL10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CP_CYL10)
            @Html.ValidationMessageFor(model => model.CP_CYL10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NUM)
            @Html.ValidationMessageFor(model => model.NUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
