@model PMS.NEARMISS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>NEARMISS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PEOPLE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PEOPLE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PROPERTY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PROPERTY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SRNUMB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SRNUMB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MISSDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MISSDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TIMEMISS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TIMEMISS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESCEND)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESCEND)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LOCATION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOCATION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SHASSIST)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SHASSIST)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LATITUDE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LATITUDE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LONGITUDE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LONGITUDE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PORTNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PORTNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NARRWHAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NARRWHAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NARRWHY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NARRWHY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REGULATION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REGULATION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SLIP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SLIP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAPSE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAPSE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MISTAKE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MISTAKE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PREVENT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PREVENT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEVERITY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEVERITY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PROBABLE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PROBABLE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RISKFACTOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RISKFACTOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRIMCAUSE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRIMCAUSE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SECONCAUS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SECONCAUS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PERSONAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PERSONAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MASTERCOMM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MASTERCOMM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEPPORT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEPPORT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEPDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEPDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESTPORT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESTPORT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ARRDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ARRDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROUTVIOLAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROUTVIOLAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EXCEPVIOLA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EXCEPVIOLA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
