@model PMS.NEARMISS

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NEARMISS</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.PEOPLE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEOPLE)
            @Html.ValidationMessageFor(model => model.PEOPLE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROPERTY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROPERTY)
            @Html.ValidationMessageFor(model => model.PROPERTY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SRNUMB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SRNUMB)
            @Html.ValidationMessageFor(model => model.SRNUMB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MISSDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MISSDT)
            @Html.ValidationMessageFor(model => model.MISSDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TIMEMISS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TIMEMISS)
            @Html.ValidationMessageFor(model => model.TIMEMISS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESCEND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESCEND)
            @Html.ValidationMessageFor(model => model.DESCEND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LOCATION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LOCATION)
            @Html.ValidationMessageFor(model => model.LOCATION)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SHASSIST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SHASSIST)
            @Html.ValidationMessageFor(model => model.SHASSIST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LATITUDE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LATITUDE)
            @Html.ValidationMessageFor(model => model.LATITUDE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LONGITUDE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LONGITUDE)
            @Html.ValidationMessageFor(model => model.LONGITUDE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PORTNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PORTNAME)
            @Html.ValidationMessageFor(model => model.PORTNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NARRWHAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NARRWHAT)
            @Html.ValidationMessageFor(model => model.NARRWHAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NARRWHY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NARRWHY)
            @Html.ValidationMessageFor(model => model.NARRWHY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REGULATION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REGULATION)
            @Html.ValidationMessageFor(model => model.REGULATION)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SLIP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLIP)
            @Html.ValidationMessageFor(model => model.SLIP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LAPSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LAPSE)
            @Html.ValidationMessageFor(model => model.LAPSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MISTAKE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MISTAKE)
            @Html.ValidationMessageFor(model => model.MISTAKE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PREVENT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PREVENT)
            @Html.ValidationMessageFor(model => model.PREVENT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SEVERITY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SEVERITY)
            @Html.ValidationMessageFor(model => model.SEVERITY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROBABLE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROBABLE)
            @Html.ValidationMessageFor(model => model.PROBABLE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RISKFACTOR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RISKFACTOR)
            @Html.ValidationMessageFor(model => model.RISKFACTOR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRIMCAUSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRIMCAUSE)
            @Html.ValidationMessageFor(model => model.PRIMCAUSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SECONCAUS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SECONCAUS)
            @Html.ValidationMessageFor(model => model.SECONCAUS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PERSONAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PERSONAL)
            @Html.ValidationMessageFor(model => model.PERSONAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JOB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JOB)
            @Html.ValidationMessageFor(model => model.JOB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MASTERCOMM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MASTERCOMM)
            @Html.ValidationMessageFor(model => model.MASTERCOMM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPPORT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPPORT)
            @Html.ValidationMessageFor(model => model.DEPPORT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPDATE)
            @Html.ValidationMessageFor(model => model.DEPDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESTPORT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESTPORT)
            @Html.ValidationMessageFor(model => model.DESTPORT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ARRDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ARRDATE)
            @Html.ValidationMessageFor(model => model.ARRDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ROUTVIOLAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ROUTVIOLAT)
            @Html.ValidationMessageFor(model => model.ROUTVIOLAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EXCEPVIOLA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EXCEPVIOLA)
            @Html.ValidationMessageFor(model => model.EXCEPVIOLA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
