@model PMS.MEBRHEAD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MEBRHEAD</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CRAKPINMIN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CRAKPINMIN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CRAKPINMAX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CRAKPINMAX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CROSPINMIN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CROSPINMIN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CROSPINMAX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CROSPINMAX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINJOUMIN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINJOUMIN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINJOUMAX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINJOUMAX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.THRUSTPAD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.THRUSTPAD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OHAULREQD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OHAULREQD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEASUREDBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEASUREDBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL11)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL12)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL12)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VAL13)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAL13)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
