@model IEnumerable<PMS.MEBRHEAD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRAKPINMIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRAKPINMAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CROSPINMIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CROSPINMAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAINJOUMIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAINJOUMAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THRUSTPAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OHAULREQD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEASUREDBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAL13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRAKPINMIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRAKPINMAX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CROSPINMIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CROSPINMAX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAINJOUMIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAINJOUMAX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THRUSTPAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OHAULREQD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEASUREDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAL13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
