@model IEnumerable<PMS.HATCHHEAD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INSPBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PACKING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPENS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLOSES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPECODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INSPBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PACKING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPENS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLOSES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
