@model IEnumerable<PMS.MYMENU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PARENTKEY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHILDKEY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KEYCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ICONFILE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPRUN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PARENTKEY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHILDKEY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEMS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KEYCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ICONFILE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APPRUN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
