@model PMS.REP_ORDER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>REP_ORDER</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REP_ON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REP_ON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REPNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REPNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFFUPDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFFUPDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REFNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REFNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ORDERNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ORDERNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ORD_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ORD_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PORT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PORT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADD1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADD1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADD2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADD2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADD3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADD3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DTL_DESC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DTL_DESC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUPNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUPNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUPDTAPPDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUPDTAPPDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PHOTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PHOTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRAWING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRAWING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SKETCH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SKETCH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
