@model PMS.REP_ORDER

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>REP_ORDER</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.REP_ON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REP_ON)
            @Html.ValidationMessageFor(model => model.REP_ON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPNO)
            @Html.ValidationMessageFor(model => model.REPNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OFFUPDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OFFUPDT)
            @Html.ValidationMessageFor(model => model.OFFUPDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REFNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REFNO)
            @Html.ValidationMessageFor(model => model.REFNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ORDERNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ORDERNO)
            @Html.ValidationMessageFor(model => model.ORDERNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ORD_DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ORD_DATE)
            @Html.ValidationMessageFor(model => model.ORD_DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PORT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PORT)
            @Html.ValidationMessageFor(model => model.PORT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NAME)
            @Html.ValidationMessageFor(model => model.NAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ADD1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ADD1)
            @Html.ValidationMessageFor(model => model.ADD1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ADD2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ADD2)
            @Html.ValidationMessageFor(model => model.ADD2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ADD3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ADD3)
            @Html.ValidationMessageFor(model => model.ADD3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DTL_DESC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DTL_DESC)
            @Html.ValidationMessageFor(model => model.DTL_DESC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPNAME)
            @Html.ValidationMessageFor(model => model.SUPNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPDTAPPDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPDTAPPDT)
            @Html.ValidationMessageFor(model => model.SUPDTAPPDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PHOTO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PHOTO)
            @Html.ValidationMessageFor(model => model.PHOTO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DRAWING)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DRAWING)
            @Html.ValidationMessageFor(model => model.DRAWING)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SKETCH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SKETCH)
            @Html.ValidationMessageFor(model => model.SKETCH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
