@model PMS.COMPMST

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>COMPMST</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.COMPCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COMPCODE)
            @Html.ValidationMessageFor(model => model.COMPCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUBCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUBCODE)
            @Html.ValidationMessageFor(model => model.SUBCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCAT)
            @Html.ValidationMessageFor(model => model.MAINCAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUBCAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUBCAT)
            @Html.ValidationMessageFor(model => model.SUBCAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSDATE)
            @Html.ValidationMessageFor(model => model.PMSDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OHAULAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OHAULAT)
            @Html.ValidationMessageFor(model => model.OHAULAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RUNHRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RUNHRS)
            @Html.ValidationMessageFor(model => model.RUNHRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TOTHRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TOTHRS)
            @Html.ValidationMessageFor(model => model.TOTHRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAKERID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAKERID)
            @Html.ValidationMessageFor(model => model.MAKERID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SIMPLEID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SIMPLEID)
            @Html.ValidationMessageFor(model => model.SIMPLEID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CANEDIT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CANEDIT)
            @Html.ValidationMessageFor(model => model.CANEDIT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WORK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WORK)
            @Html.ValidationMessageFor(model => model.WORK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
