@model IEnumerable<PMS.COMPMST>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COMPCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAINCAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBCAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OHAULAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUNHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAKERID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIMPLEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CANEDIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WORK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COMPCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBCAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OHAULAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUNHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAKERID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIMPLEID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANEDIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WORK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
