@model IEnumerable<PMS.ACCIDENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SEVERITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROBABLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARRDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAUSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPPORT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESTPORT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIMCAUSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECONCAUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLACEINCI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAMAGE1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAMAGE2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAYSLOST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HRSLOST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MINSLOST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTALS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EVENTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAUSDAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DDAYS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DMINS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDAMAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DDAMAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TREPAIR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PREPAIR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DETAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERSONAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SEVERITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROBABLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARRDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAUSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACCDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPPORT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESTPORT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACCTYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIMCAUSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECONCAUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACEINCI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAMAGE1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAMAGE2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAYSLOST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HRSLOST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MINSLOST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTALS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EVENTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAUSDAM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DDAYS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DMINS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDAMAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DDAMAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TREPAIR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PREPAIR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DETAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERSONAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
