@model PMS.OFFEX

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OFFEX</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TABLE_NAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TABLE_NAME)
            @Html.ValidationMessageFor(model => model.TABLE_NAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TABLE_OPT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TABLE_OPT)
            @Html.ValidationMessageFor(model => model.TABLE_OPT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FLD_DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FLD_DATE)
            @Html.ValidationMessageFor(model => model.FLD_DATE)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
