@model PMS.OFFEX

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OFFEX</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TABLE_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TABLE_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TABLE_OPT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TABLE_OPT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FLD_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FLD_DATE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
