@model PMS.BRKDOWN

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BRKDOWN</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BRKDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BRKDATE)
            @Html.ValidationMessageFor(model => model.BRKDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REASON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REASON)
            @Html.ValidationMessageFor(model => model.REASON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACTION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACTION)
            @Html.ValidationMessageFor(model => model.ACTION)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DELAY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DELAY)
            @Html.ValidationMessageFor(model => model.DELAY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DAY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DAY)
            @Html.ValidationMessageFor(model => model.DAY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HOURS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HOURS)
            @Html.ValidationMessageFor(model => model.HOURS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ASSIST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ASSIST)
            @Html.ValidationMessageFor(model => model.ASSIST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPAIRER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPAIRER)
            @Html.ValidationMessageFor(model => model.REPAIRER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PORT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PORT)
            @Html.ValidationMessageFor(model => model.PORT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RUNHRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RUNHRS)
            @Html.ValidationMessageFor(model => model.RUNHRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OVERHAUL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OVERHAUL)
            @Html.ValidationMessageFor(model => model.OVERHAUL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.INTERVAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.INTERVAL)
            @Html.ValidationMessageFor(model => model.INTERVAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
