@model IEnumerable<PMS.BRKDOWN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRKDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REASON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DELAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOURS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASSIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REPAIRER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PORT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUNHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OVERHAUL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INTERVAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRKDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REASON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DELAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOURS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASSIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REPAIRER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PORT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUNHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OVERHAUL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INTERVAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
