@model PMS.DEFLDETL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DEFLDETL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO11)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO12)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO12)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
