@model PMS.AEPERHEAD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AEPERHEAD</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENGNUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENGNUM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DTMEASURED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DTMEASURED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LOAD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOAD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TCHRRPM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TCHRRPM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCAVPRES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCAVPRES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCAVTEMP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCAVTEMP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACPRESDROP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACPRESDROP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LOPRESS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOPRESS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LOTEMPIN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOTEMPIN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LOTEMPOUT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOTEMPOUT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GOVRLOADIN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GOVRLOADIN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ELLOADKW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ELLOADKW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ELLOADAMPS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ELLOADAMPS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INJECTOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INJECTOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLHDOHAUL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLHDOHAUL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COMPDECARB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COMPDECARB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
