@model IEnumerable<PMS.AEPERHEAD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENGNUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTMEASURED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCHRRPM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCAVPRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCAVTEMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACPRESDROP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOPRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOTEMPIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOTEMPOUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GOVRLOADIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ELLOADKW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ELLOADAMPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INJECTOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLHDOHAUL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPDECARB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENGNUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTMEASURED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCHRRPM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCAVPRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCAVTEMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACPRESDROP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOPRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOTEMPIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOTEMPOUT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GOVRLOADIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ELLOADKW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ELLOADAMPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INJECTOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLHDOHAUL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPDECARB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
