@model IEnumerable<PMS.DEFLHEAD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DRAFTFWD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DRAFTAFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PORT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRANKTMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEFMEASBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DRAFTFWD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DRAFTAFT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PORT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRANKTMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEFMEASBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
