@model IEnumerable<PMS.AUDIT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USERS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATETIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODULE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODULECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USERS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATETIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODULE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODULECODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
