@model PMS.AECPBEDT

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AECPBEDT</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL_DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL_DATE)
            @Html.ValidationMessageFor(model => model.CL_DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SLNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLNO)
            @Html.ValidationMessageFor(model => model.SLNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE1)
            @Html.ValidationMessageFor(model => model.REN_DATE1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE2)
            @Html.ValidationMessageFor(model => model.REN_DATE2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE3)
            @Html.ValidationMessageFor(model => model.REN_DATE3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE4)
            @Html.ValidationMessageFor(model => model.REN_DATE4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE5)
            @Html.ValidationMessageFor(model => model.REN_DATE5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE6)
            @Html.ValidationMessageFor(model => model.REN_DATE6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE7)
            @Html.ValidationMessageFor(model => model.REN_DATE7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE8)
            @Html.ValidationMessageFor(model => model.REN_DATE8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE9)
            @Html.ValidationMessageFor(model => model.REN_DATE9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE10)
            @Html.ValidationMessageFor(model => model.REN_DATE10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REN_DATE11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REN_DATE11)
            @Html.ValidationMessageFor(model => model.REN_DATE11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NUM)
            @Html.ValidationMessageFor(model => model.NUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
