@model PMS.AECPBEDT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AECPBEDT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SLNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SLNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REN_DATE11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REN_DATE11)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NUM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
