@model IEnumerable<PMS.AECPBEDT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REN_DATE11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REN_DATE11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
