@model PMS.PISTREAD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PISTREAD</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GROVE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GROVE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GNO1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GNO1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GNO2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GNO2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GNO3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GNO3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GNO4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GNO4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GNO5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GNO5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GNO6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GNO6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GNO7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GNO7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNO1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNO1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNO2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNO2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNO3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNO3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNO4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNO4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNO5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNO5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNO6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNO6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNO7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNO7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
