@model PMS.PISTREAD

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PISTREAD</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GROVE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GROVE)
            @Html.ValidationMessageFor(model => model.GROVE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GNO1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GNO1)
            @Html.ValidationMessageFor(model => model.GNO1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GNO2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GNO2)
            @Html.ValidationMessageFor(model => model.GNO2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GNO3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GNO3)
            @Html.ValidationMessageFor(model => model.GNO3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GNO4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GNO4)
            @Html.ValidationMessageFor(model => model.GNO4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GNO5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GNO5)
            @Html.ValidationMessageFor(model => model.GNO5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GNO6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GNO6)
            @Html.ValidationMessageFor(model => model.GNO6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GNO7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GNO7)
            @Html.ValidationMessageFor(model => model.GNO7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RING)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RING)
            @Html.ValidationMessageFor(model => model.RING)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNO1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNO1)
            @Html.ValidationMessageFor(model => model.RNO1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNO2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNO2)
            @Html.ValidationMessageFor(model => model.RNO2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNO3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNO3)
            @Html.ValidationMessageFor(model => model.RNO3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNO4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNO4)
            @Html.ValidationMessageFor(model => model.RNO4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNO5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNO5)
            @Html.ValidationMessageFor(model => model.RNO5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNO6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNO6)
            @Html.ValidationMessageFor(model => model.RNO6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNO7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNO7)
            @Html.ValidationMessageFor(model => model.RNO7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MES)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MES)
            @Html.ValidationMessageFor(model => model.MES)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
