@model IEnumerable<PMS.PISTREAD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GROVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GNO1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GNO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GNO3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GNO4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GNO5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GNO6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GNO7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNO1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNO3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNO4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNO5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNO6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNO7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GROVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GNO1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GNO2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GNO3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GNO4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GNO5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GNO6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GNO7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNO1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNO2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNO3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNO4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNO5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNO6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNO7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
