@model PMS.DEFOFF

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DEFOFF</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFFUSER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFFUSER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFFCOMM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFFCOMM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFFCOMMDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFFCOMMDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REFNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REFNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPDTREC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPDTREC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFFDEFCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFFDEFCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SHPDEFCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SHPDEFCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFFUPDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFFUPDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
