@model PMS.GROOVPROF_INSP

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GROOVPROF_INSP</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPECODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPECODE)
            @Html.ValidationMessageFor(model => model.TYPECODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BUILDER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BUILDER)
            @Html.ValidationMessageFor(model => model.BUILDER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_NO)
            @Html.ValidationMessageFor(model => model.ENG_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CHECKEDBY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHECKEDBY)
            @Html.ValidationMessageFor(model => model.CHECKEDBY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NO_OF_CYL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NO_OF_CYL)
            @Html.ValidationMessageFor(model => model.NO_OF_CYL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_TYPE)
            @Html.ValidationMessageFor(model => model.ENG_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RED_RNG_H)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RED_RNG_H)
            @Html.ValidationMessageFor(model => model.RED_RNG_H)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_HRS)
            @Html.ValidationMessageFor(model => model.ENG_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENTDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENTDATE)
            @Html.ValidationMessageFor(model => model.ENTDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYL_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYL_NO)
            @Html.ValidationMessageFor(model => model.CYL_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ROW_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ROW_ID)
            @Html.ValidationMessageFor(model => model.ROW_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL30)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL30)
            @Html.ValidationMessageFor(model => model.CL30)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL35)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL35)
            @Html.ValidationMessageFor(model => model.CL35)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL40)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL40)
            @Html.ValidationMessageFor(model => model.CL40)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL45)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL45)
            @Html.ValidationMessageFor(model => model.CL45)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL50)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL50)
            @Html.ValidationMessageFor(model => model.CL50)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL55)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL55)
            @Html.ValidationMessageFor(model => model.CL55)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL60)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL60)
            @Html.ValidationMessageFor(model => model.CL60)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL65)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL65)
            @Html.ValidationMessageFor(model => model.CL65)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL70)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL70)
            @Html.ValidationMessageFor(model => model.CL70)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL75)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL75)
            @Html.ValidationMessageFor(model => model.CL75)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL80)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL80)
            @Html.ValidationMessageFor(model => model.CL80)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL85)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL85)
            @Html.ValidationMessageFor(model => model.CL85)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL90)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL90)
            @Html.ValidationMessageFor(model => model.CL90)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL95)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL95)
            @Html.ValidationMessageFor(model => model.CL95)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL100)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL100)
            @Html.ValidationMessageFor(model => model.CL100)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CL105)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CL105)
            @Html.ValidationMessageFor(model => model.CL105)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WEAR_RATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WEAR_RATE)
            @Html.ValidationMessageFor(model => model.WEAR_RATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REM_1_6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REM_1_6)
            @Html.ValidationMessageFor(model => model.REM_1_6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REM_7_12)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REM_7_12)
            @Html.ValidationMessageFor(model => model.REM_7_12)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
