@model PMS.GROOVPROF_INSP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GROOVPROF_INSP</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPECODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPECODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUILDER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUILDER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CHECKEDBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CHECKEDBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NO_OF_CYL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NO_OF_CYL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RED_RNG_H)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RED_RNG_H)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_HRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_HRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYL_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYL_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROW_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROW_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL30)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL30)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL35)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL35)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL40)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL40)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL45)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL45)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL50)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL50)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL55)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL55)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL60)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL60)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL65)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL65)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL70)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL70)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL75)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL75)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL80)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL80)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL85)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL85)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL90)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL90)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL95)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL95)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL100)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL100)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL105)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL105)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WEAR_RATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WEAR_RATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REM_1_6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REM_1_6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REM_7_12)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REM_7_12)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
