@model IEnumerable<PMS.GROOVPROF_INSP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TYPECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUILDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHECKEDBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO_OF_CYL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RED_RNG_H)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_HRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROW_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL30)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL35)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL40)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL45)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL50)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL55)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL60)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL65)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL70)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL75)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL80)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL85)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL90)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL95)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL100)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL105)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEAR_RATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REM_1_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REM_7_12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TYPECODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUILDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHECKEDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO_OF_CYL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RED_RNG_H)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_HRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROW_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL30)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL35)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL40)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL45)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL50)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL55)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL60)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL65)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL70)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL75)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL80)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL85)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL90)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL95)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL105)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEAR_RATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REM_1_6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REM_7_12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
