@model PMS.DRSUB

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DRSUB</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GRPCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GRPCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBGRPCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBGRPCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBGRPNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBGRPNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBDETL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBDETL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FREQ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FREQ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESCRIPT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESCRIPT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
