@model PMS.PMSTYPE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PMSTYPE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPECODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPECODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSTYPE1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSTYPE1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.L_DEFA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.L_DEFA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HISTCODE1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HISTCODE1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HISTCODE2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HISTCODE2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MCAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MCAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
