@model PMS.NKKTYPE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NKKTYPE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NKKCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NKKCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NKKITEM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NKKITEM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NKKDESC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NKKDESC)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
