@model PMS.MECRSHED

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MECRSHED</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_TYPE)
            @Html.ValidationMessageFor(model => model.ENG_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OHHAULDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OHHAULDT)
            @Html.ValidationMessageFor(model => model.OHHAULDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MEAS_AT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MEAS_AT)
            @Html.ValidationMessageFor(model => model.MEAS_AT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MEAS_ON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MEAS_ON)
            @Html.ValidationMessageFor(model => model.MEAS_ON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MEAS_BY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MEAS_BY)
            @Html.ValidationMessageFor(model => model.MEAS_BY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CRANK_TEMP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CRANK_TEMP)
            @Html.ValidationMessageFor(model => model.CRANK_TEMP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REMARK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REMARK)
            @Html.ValidationMessageFor(model => model.REMARK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
