@model PMS.MECRSHED

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MECRSHED</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OHHAULDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OHHAULDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEAS_AT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEAS_AT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEAS_ON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEAS_ON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEAS_BY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEAS_BY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CRANK_TEMP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CRANK_TEMP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
