@model PMS.MECRSHED

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MECRSHED</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OHHAULDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OHHAULDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEAS_AT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEAS_AT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEAS_ON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEAS_ON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEAS_BY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEAS_BY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CRANK_TEMP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CRANK_TEMP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
