@model IEnumerable<PMS.MECRSHED>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OHHAULDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEAS_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEAS_ON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEAS_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRANK_TEMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OHHAULDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEAS_AT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEAS_ON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEAS_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRANK_TEMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
