@model PMS.BER_INSP

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BER_INSP</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPECODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPECODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUILDER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUILDER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CHECKEDBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CHECKEDBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NO_OF_CYL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NO_OF_CYL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLOCKWISE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLOCKWISE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_HRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_HRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BEARINGNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BEARINGNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BEARINGHRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BEARINGHRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRAWINGNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRAWINGNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MARKING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MARKING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MATERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MATERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OVERLAY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OVERLAY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SN_FLASH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SN_FLASH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SHIMS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SHIMS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BER_HOUSE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BER_HOUSE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BER_MAKER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BER_MAKER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFFSET)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFFSET)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.THIK_SHELL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.THIK_SHELL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.THIN_SHELL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.THIN_SHELL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CORROSION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CORROSION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LACQUERING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LACQUERING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCRATCHES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCRATCHES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEARING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEARING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CRACKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CRACKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LOOSEWHITE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOOSEWHITE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCUFFING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCUFFING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TRAPPED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TRAPPED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DETACHMENT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DETACHMENT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MISALIGN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MISALIGN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEIZURES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEIZURES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WIPING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WIPING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FRETTING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FRETTING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PEELINGOFF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PEELINGOFF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPARKERO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPARKERO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HARDCONT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HARDCONT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.POROSITES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.POROSITES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SQUEEZED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SQUEEZED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DENTMARKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DENTMARKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HEATCRACKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HEATCRACKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROUGHSURFA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROUGHSURFA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCRA_JOUR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCRA_JOUR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNEVSURF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNEVSURF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CONCAVE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CONCAVE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WEAK_LIGHT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WEAK_LIGHT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CONICAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CONICAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CONVEX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CONVEX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EVENTSUNEVEN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EVENTSUNEVEN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WIDE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WIDE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ASSEMBLY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ASSEMBLY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DIRT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DIRT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAT_DEF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAT_DEF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BONDING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BONDING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HARD_CONT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HARD_CONT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OTHER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OTHER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLEARANCE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLEARANCE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOU_GEO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOU_GEO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SHEL_GEO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SHEL_GEO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CONTAMIN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CONTAMIN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JOU_GEO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JOU_GEO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPA_ERO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPA_ERO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESIGN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESIGN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LUBRICA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LUBRICA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WATER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WATER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SHEL_THICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SHEL_THICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ST_ANG1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ST_ANG1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ST_ANG2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ST_ANG2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ST_ANG3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ST_ANG3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.END_ANG1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.END_ANG1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.END_ANG2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.END_ANG2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.END_ANG3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.END_ANG3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PISTON1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PISTON1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PISTON2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PISTON2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PISTON3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PISTON3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEPTH1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEPTH1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEPTH2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEPTH2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEPTH3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEPTH3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TOP_FORE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TOP_FORE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TOP_AFT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TOP_AFT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BOT_FORE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BOT_FORE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BOT_AFT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BOT_AFT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UP_EX_FORE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UP_EX_FORE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UP_EX_AF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UP_EX_AF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LO_EX_FO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LO_EX_FO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LO_EX_AF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LO_EX_AF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UP_MAN_FO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UP_MAN_FO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UP_MAN_AF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UP_MAN_AF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LO_MAN_FO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LO_MAN_FO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LO_MAN_AF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LO_MAN_AF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
