@model IEnumerable<PMS.BER_INSP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TYPECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUILDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHECKEDBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO_OF_CYL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLOCKWISE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_HRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BEARINGNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BEARINGHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DRAWINGNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARKING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATERIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OVERLAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SN_FLASH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHIMS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BER_HOUSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BER_MAKER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OFFSET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THIK_SHELL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THIN_SHELL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORROSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LACQUERING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCRATCHES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEARING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRACKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOOSEWHITE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCUFFING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRAPPED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DETACHMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MISALIGN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEIZURES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WIPING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FRETTING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEELINGOFF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPARKERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HARDCONT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POROSITES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SQUEEZED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DENTMARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HEATCRACKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROUGHSURFA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCRA_JOUR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNEVSURF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONCAVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEAK_LIGHT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONICAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONVEX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EVENTSUNEVEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WIDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASSEMBLY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAT_DEF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BONDING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HARD_CONT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OTHER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLEARANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOU_GEO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHEL_GEO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTAMIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JOU_GEO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPA_ERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESIGN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LUBRICA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WATER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHEL_THICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST_ANG1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST_ANG2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST_ANG3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.END_ANG1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.END_ANG2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.END_ANG3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PISTON1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PISTON2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PISTON3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOP_FORE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOP_AFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOT_FORE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOT_AFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UP_EX_FORE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UP_EX_AF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LO_EX_FO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LO_EX_AF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UP_MAN_FO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UP_MAN_AF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LO_MAN_FO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LO_MAN_AF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TYPECODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUILDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHECKEDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO_OF_CYL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLOCKWISE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_HRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BEARINGNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BEARINGHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DRAWINGNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARKING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OVERLAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SN_FLASH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHIMS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BER_HOUSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BER_MAKER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OFFSET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THIK_SHELL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THIN_SHELL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CORROSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LACQUERING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCRATCHES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEARING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRACKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOOSEWHITE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCUFFING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRAPPED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DETACHMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MISALIGN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEIZURES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIPING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FRETTING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEELINGOFF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPARKERO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HARDCONT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POROSITES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SQUEEZED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DENTMARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HEATCRACKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROUGHSURFA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCRA_JOUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNEVSURF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONCAVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEAK_LIGHT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONICAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONVEX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EVENTSUNEVEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASSEMBLY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIRT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAT_DEF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BONDING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HARD_CONT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OTHER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLEARANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOU_GEO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHEL_GEO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTAMIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JOU_GEO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPA_ERO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESIGN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUBRICA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WATER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHEL_THICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ST_ANG1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ST_ANG2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ST_ANG3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.END_ANG1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.END_ANG2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.END_ANG3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PISTON1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PISTON2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PISTON3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOP_FORE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOP_AFT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOT_FORE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOT_AFT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UP_EX_FORE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UP_EX_AF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LO_EX_FO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LO_EX_AF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UP_MAN_FO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UP_MAN_AF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LO_MAN_FO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LO_MAN_AF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
