@model PMS.MEEXOVR

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MEEXOVR</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OHHAULDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OHHAULDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENG_TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENG_TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EXUNITNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EXUNITNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOUSID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOUSID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPINDID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPINDID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEATID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEATID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOUSMAKE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOUSMAKE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPINMAKE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPINMAKE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEATMAKE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEATMAKE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HRRUNLAST)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HRRUNLAST)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOUSNEW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOUSNEW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOUSRECON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOUSRECON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOUSTIMES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOUSTIMES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPINNEW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPINNEW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPINRECON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPINRECON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPINTIMES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPINTIMES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEATNEW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEATNEW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEATRECON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEATRECON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEATTIMES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEATTIMES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STEMDIAE1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STEMDIAE1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STEMDIAE2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STEMDIAE2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STEMDIALT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STEMDIALT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COMBUSF1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COMBUSF1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COMBUSF2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COMBUSF2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COMBUSF3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COMBUSF3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COMBUSF4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COMBUSF4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COMBUSLT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COMBUSLT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEALG1BE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEALG1BE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEALG1AT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEALG1AT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEALG1GR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEALG1GR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEALG1LT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEALG1LT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEATG2BE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEATG2BE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEATG2AT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEATG2AT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEATG2GR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEATG2GR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEATG2LT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEATG2LT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RECEG3BE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RECEG3BE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RECEG3AT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RECEG3AT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RECEG3LT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RECEG3LT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GYDBUSHC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GYDBUSHC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GYDBUSHD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GYDBUSHD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GYDBUSHREN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GYDBUSHREN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BYDBUSHLT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BYDBUSHLT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AIRCYLA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AIRCYLA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AIRCYLB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AIRCYLB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AIRCYLREN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AIRCYLREN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AIRCYLLT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AIRCYLLT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
