@model PMS.COMPDETL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>COMPDETL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COMPCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COMPCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBCAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBCAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OHAULAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OHAULAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RUNHRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RUNHRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TOTHRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TOTHRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAKERID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAKERID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SIMPLEID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SIMPLEID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FROMDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FROMDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNITOHAUL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNITOHAUL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNITTOTHRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNITTOTHRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
