@model PMS.INCIDENT

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>INCIDENT</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.SRNUMB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SRNUMB)
            @Html.ValidationMessageFor(model => model.SRNUMB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROP)
            @Html.ValidationMessageFor(model => model.PROP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENVI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENVI)
            @Html.ValidationMessageFor(model => model.ENVI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BUSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BUSI)
            @Html.ValidationMessageFor(model => model.BUSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SEVERITY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SEVERITY)
            @Html.ValidationMessageFor(model => model.SEVERITY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROBABLE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROBABLE)
            @Html.ValidationMessageFor(model => model.PROBABLE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RISKFACTOR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RISKFACTOR)
            @Html.ValidationMessageFor(model => model.RISKFACTOR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUBJECT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUBJECT)
            @Html.ValidationMessageFor(model => model.SUBJECT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACCDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACCDATE)
            @Html.ValidationMessageFor(model => model.ACCDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LT)
            @Html.ValidationMessageFor(model => model.LT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GMT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GMT)
            @Html.ValidationMessageFor(model => model.GMT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPPORT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPPORT)
            @Html.ValidationMessageFor(model => model.DEPPORT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPDATE)
            @Html.ValidationMessageFor(model => model.DEPDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESTPORT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESTPORT)
            @Html.ValidationMessageFor(model => model.DESTPORT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ARRDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ARRDATE)
            @Html.ValidationMessageFor(model => model.ARRDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PORTNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PORTNAME)
            @Html.ValidationMessageFor(model => model.PORTNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LATITUDE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LATITUDE)
            @Html.ValidationMessageFor(model => model.LATITUDE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LONGITUDE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LONGITUDE)
            @Html.ValidationMessageFor(model => model.LONGITUDE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TASKINVOL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TASKINVOL)
            @Html.ValidationMessageFor(model => model.TASKINVOL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LOCATION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LOCATION)
            @Html.ValidationMessageFor(model => model.LOCATION)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACCTYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACCTYPE)
            @Html.ValidationMessageFor(model => model.ACCTYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRIMCAUSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRIMCAUSE)
            @Html.ValidationMessageFor(model => model.PRIMCAUSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SECONCAUS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SECONCAUS)
            @Html.ValidationMessageFor(model => model.SECONCAUS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PERSONAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PERSONAL)
            @Html.ValidationMessageFor(model => model.PERSONAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JOB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JOB)
            @Html.ValidationMessageFor(model => model.JOB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCAT)
            @Html.ValidationMessageFor(model => model.MAINCAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUBCAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUBCAT)
            @Html.ValidationMessageFor(model => model.SUBCAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DDAYS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DDAYS)
            @Html.ValidationMessageFor(model => model.DDAYS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DHRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DHRS)
            @Html.ValidationMessageFor(model => model.DHRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DMINS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DMINS)
            @Html.ValidationMessageFor(model => model.DMINS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DREASON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DREASON)
            @Html.ValidationMessageFor(model => model.DREASON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MHOURLOSTD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MHOURLOSTD)
            @Html.ValidationMessageFor(model => model.MHOURLOSTD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MHOURLOSTH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MHOURLOSTH)
            @Html.ValidationMessageFor(model => model.MHOURLOSTH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MHOURLOSTM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MHOURLOSTM)
            @Html.ValidationMessageFor(model => model.MHOURLOSTM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEVIA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEVIA)
            @Html.ValidationMessageFor(model => model.DEVIA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OFFHIRE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OFFHIRE)
            @Html.ValidationMessageFor(model => model.OFFHIRE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SHOREA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SHOREA)
            @Html.ValidationMessageFor(model => model.SHOREA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPTYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPTYPE)
            @Html.ValidationMessageFor(model => model.REPTYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EVENTS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EVENTS)
            @Html.ValidationMessageFor(model => model.EVENTS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CAUSEWHY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CAUSEWHY)
            @Html.ValidationMessageFor(model => model.CAUSEWHY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REGULATION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REGULATION)
            @Html.ValidationMessageFor(model => model.REGULATION)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ROUTVIOLAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ROUTVIOLAT)
            @Html.ValidationMessageFor(model => model.ROUTVIOLAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EXCEPVIOLA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EXCEPVIOLA)
            @Html.ValidationMessageFor(model => model.EXCEPVIOLA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SLIP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLIP)
            @Html.ValidationMessageFor(model => model.SLIP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LAPSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LAPSE)
            @Html.ValidationMessageFor(model => model.LAPSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MISTAKE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MISTAKE)
            @Html.ValidationMessageFor(model => model.MISTAKE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REMARKDAMAGE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REMARKDAMAGE)
            @Html.ValidationMessageFor(model => model.REMARKDAMAGE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPLACE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPLACE)
            @Html.ValidationMessageFor(model => model.REPLACE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OFFHCOST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OFFHCOST)
            @Html.ValidationMessageFor(model => model.OFFHCOST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VDELAYCOST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VDELAYCOST)
            @Html.ValidationMessageFor(model => model.VDELAYCOST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANHLCOST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANHLCOST)
            @Html.ValidationMessageFor(model => model.MANHLCOST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEVIATCOST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEVIATCOST)
            @Html.ValidationMessageFor(model => model.DEVIATCOST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPAIRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPAIRS)
            @Html.ValidationMessageFor(model => model.REPAIRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MISCEXPCOS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MISCEXPCOS)
            @Html.ValidationMessageFor(model => model.MISCEXPCOS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TOTALS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TOTALS)
            @Html.ValidationMessageFor(model => model.TOTALS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MISCREASON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MISCREASON)
            @Html.ValidationMessageFor(model => model.MISCREASON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DETLOVR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DETLOVR)
            @Html.ValidationMessageFor(model => model.DETLOVR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ATTCHSURV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ATTCHSURV)
            @Html.ValidationMessageFor(model => model.ATTCHSURV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ATTCHMAST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ATTCHMAST)
            @Html.ValidationMessageFor(model => model.ATTCHMAST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ATTCHLOG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ATTCHLOG)
            @Html.ValidationMessageFor(model => model.ATTCHLOG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ATCHPHOTO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ATCHPHOTO)
            @Html.ValidationMessageFor(model => model.ATCHPHOTO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MASTERNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MASTERNAME)
            @Html.ValidationMessageFor(model => model.MASTERNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CENAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CENAME)
            @Html.ValidationMessageFor(model => model.CENAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPODATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPODATE)
            @Html.ValidationMessageFor(model => model.REPODATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MASTERCOMM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MASTERCOMM)
            @Html.ValidationMessageFor(model => model.MASTERCOMM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
