@model PMS.MESPITEM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MESPITEM</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SPID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SPID)
            @Html.ValidationMessageFor(model => model.SPID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SPUSERID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SPUSERID)
            @Html.ValidationMessageFor(model => model.SPUSERID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TOTHRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TOTHRS)
            @Html.ValidationMessageFor(model => model.TOTHRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OHDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OHDATE)
            @Html.ValidationMessageFor(model => model.OHDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPECODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPECODE)
            @Html.ValidationMessageFor(model => model.TYPECODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SPARED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SPARED)
            @Html.ValidationMessageFor(model => model.SPARED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
