@model IEnumerable<PMS.PMSFLD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIELD_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIELD_NEW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TABLE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIELD_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIELD_LEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIELD_DEC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIELD_NULL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIELD_NOCP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIELD_DEFA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIELD_RULE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIELD_ERR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TABLE_RULE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TABLE_ERR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INS_TRIG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPD_TRIG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEL_TRIG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TABLE_CMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TABLE_CAT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIELD_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIELD_NEW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TABLE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIELD_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIELD_LEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIELD_DEC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIELD_NULL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIELD_NOCP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIELD_DEFA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIELD_RULE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIELD_ERR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TABLE_RULE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TABLE_ERR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INS_TRIG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPD_TRIG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEL_TRIG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TABLE_CMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TABLE_CAT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
