@model PMS.MAINTEN

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MAINTEN</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WORK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WORK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNSCHDL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNSCHDL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PLANNED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PLANNED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REASON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REASON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HRSTAKEN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HRSTAKEN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OHAULAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OHAULAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HRSNET)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HRSNET)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CRIT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CRIT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADDBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADDBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TOTHRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TOTHRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STFNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STFNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ABSESTOS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ABSESTOS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ABSGVNBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ABSGVNBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ABSDTL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ABSDTL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOTWORK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOTWORK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOTGVNBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOTGVNBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOTDETL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOTDETL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RISK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RISK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APPROVALDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APPROVALDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NKKCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NKKCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NONSCH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NONSCH)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
