@model PMS.MAINTEN

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MAINTEN</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WORK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WORK)
            @Html.ValidationMessageFor(model => model.WORK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TY)
            @Html.ValidationMessageFor(model => model.TY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UNSCHDL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UNSCHDL)
            @Html.ValidationMessageFor(model => model.UNSCHDL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PLANNED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PLANNED)
            @Html.ValidationMessageFor(model => model.PLANNED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REASON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REASON)
            @Html.ValidationMessageFor(model => model.REASON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HRSTAKEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HRSTAKEN)
            @Html.ValidationMessageFor(model => model.HRSTAKEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OHAULAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OHAULAT)
            @Html.ValidationMessageFor(model => model.OHAULAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HRSNET)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HRSNET)
            @Html.ValidationMessageFor(model => model.HRSNET)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CRIT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CRIT)
            @Html.ValidationMessageFor(model => model.CRIT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ADDBY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ADDBY)
            @Html.ValidationMessageFor(model => model.ADDBY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TOTHRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TOTHRS)
            @Html.ValidationMessageFor(model => model.TOTHRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STFNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STFNAME)
            @Html.ValidationMessageFor(model => model.STFNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ABSESTOS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ABSESTOS)
            @Html.ValidationMessageFor(model => model.ABSESTOS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ABSGVNBY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ABSGVNBY)
            @Html.ValidationMessageFor(model => model.ABSGVNBY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ABSDTL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ABSDTL)
            @Html.ValidationMessageFor(model => model.ABSDTL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HOTWORK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HOTWORK)
            @Html.ValidationMessageFor(model => model.HOTWORK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HOTGVNBY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HOTGVNBY)
            @Html.ValidationMessageFor(model => model.HOTGVNBY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HOTDETL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HOTDETL)
            @Html.ValidationMessageFor(model => model.HOTDETL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RISK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RISK)
            @Html.ValidationMessageFor(model => model.RISK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.APPROVALDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.APPROVALDT)
            @Html.ValidationMessageFor(model => model.APPROVALDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NKKCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NKKCODE)
            @Html.ValidationMessageFor(model => model.NKKCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NONSCH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NONSCH)
            @Html.ValidationMessageFor(model => model.NONSCH)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
