@model IEnumerable<PMS.MAINTEN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WORK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNSCHDL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLANNED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REASON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HRSTAKEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OHAULAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HRSNET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STFNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ABSESTOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ABSGVNBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ABSDTL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOTWORK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOTGVNBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOTDETL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RISK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPROVALDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NKKCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NONSCH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WORK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNSCHDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLANNED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REASON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HRSTAKEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OHAULAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HRSNET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STFNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABSESTOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABSGVNBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABSDTL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOTWORK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOTGVNBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOTDETL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RISK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APPROVALDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NKKCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NONSCH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
