@model PMS.AUXOHEAD

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AUXOHEAD</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENGTYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENGTYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBORE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBORE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SINCELAST)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SINCELAST)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AUXENGNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AUXENGNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AUXENGLOC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AUXENGLOC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TOTRUN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TOTRUN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STDCLEAN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STDCLEAN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WEARLIMIT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WEARLIMIT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARKS1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TURBOCHARG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TURBOCHARG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AIRCOOLER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AIRCOOLER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUSHES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUSHES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CONDASFND)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CONDASFND)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ANYREPAIR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ANYREPAIR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STDDIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STDDIA1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OVALIMIT1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OVALIMIT1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STDDIA2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STDDIA2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OVALIMIT2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OVALIMIT2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STDTORQUE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STDTORQUE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ANGROTA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ANGROTA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STDLENG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STDLENG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CHKINTERV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CHKINTERV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WRKHRLIMIT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WRKHRLIMIT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ELOLIMIT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ELOLIMIT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LASTRENEW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LASTRENEW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RUNHRSINCE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RUNHRSINCE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARKS2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NUM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
