@model IEnumerable<PMS.AUXOHEAD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENGTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBORE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SINCELAST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUXENGNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUXENGLOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTRUN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STDCLEAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEARLIMIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TURBOCHARG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AIRCOOLER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUSHES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONDASFND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANYREPAIR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STDDIA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OVALIMIT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STDDIA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OVALIMIT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STDTORQUE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANGROTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STDLENG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHKINTERV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WRKHRLIMIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ELOLIMIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LASTRENEW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUNHRSINCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENGTYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBORE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SINCELAST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUXENGNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUXENGLOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTRUN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STDCLEAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEARLIMIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TURBOCHARG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AIRCOOLER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUSHES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONDASFND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ANYREPAIR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STDDIA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OVALIMIT1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STDDIA2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OVALIMIT2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STDTORQUE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ANGROTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STDLENG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHKINTERV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WRKHRLIMIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ELOLIMIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LASTRENEW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUNHRSINCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
