@model IEnumerable<PMS.ME_CYLINDER_INSP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TYPECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEST_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBS_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROW_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_17)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TYPECODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEST_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBS_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROW_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
