@model IEnumerable<PMS.GRPMAIN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRPMCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRPMNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRPMPARENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OFFUPDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRPMCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRPMNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRPMPARENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OFFUPDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
