@model PMS.CYL_COND_INSP

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CYL_COND_INSP</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPECODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPECODE)
            @Html.ValidationMessageFor(model => model.TYPECODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BUILDER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BUILDER)
            @Html.ValidationMessageFor(model => model.BUILDER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_NO)
            @Html.ValidationMessageFor(model => model.ENG_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CHECKEDBY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHECKEDBY)
            @Html.ValidationMessageFor(model => model.CHECKEDBY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NO_OF_CYL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NO_OF_CYL)
            @Html.ValidationMessageFor(model => model.NO_OF_CYL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_TYPE)
            @Html.ValidationMessageFor(model => model.ENG_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MK)
            @Html.ValidationMessageFor(model => model.MK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENG_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENG_HRS)
            @Html.ValidationMessageFor(model => model.ENG_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENTDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENTDATE)
            @Html.ValidationMessageFor(model => model.ENTDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UNITNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UNITNO)
            @Html.ValidationMessageFor(model => model.UNITNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WKS_PR_PL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WKS_PR_PL)
            @Html.ValidationMessageFor(model => model.WKS_PR_PL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MCR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MCR)
            @Html.ValidationMessageFor(model => model.MCR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LUB_P_CON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LUB_P_CON)
            @Html.ValidationMessageFor(model => model.LUB_P_CON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LUB_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LUB_TYPE)
            @Html.ValidationMessageFor(model => model.LUB_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYLOIL_CON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYLOIL_CON)
            @Html.ValidationMessageFor(model => model.CYLOIL_CON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AT_LOAD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AT_LOAD)
            @Html.ValidationMessageFor(model => model.AT_LOAD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COIL_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COIL_TYPE)
            @Html.ValidationMessageFor(model => model.COIL_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SULPH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SULPH)
            @Html.ValidationMessageFor(model => model.SULPH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SHIP_POS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SHIP_POS)
            @Html.ValidationMessageFor(model => model.SHIP_POS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WE_COND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WE_COND)
            @Html.ValidationMessageFor(model => model.WE_COND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SEA_W_TEMP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SEA_W_TEMP)
            @Html.ValidationMessageFor(model => model.SEA_W_TEMP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEP_PORT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEP_PORT)
            @Html.ValidationMessageFor(model => model.DEP_PORT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEP_DT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEP_DT)
            @Html.ValidationMessageFor(model => model.DEP_DT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DES_PORT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DES_PORT)
            @Html.ValidationMessageFor(model => model.DES_PORT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DES_DT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DES_DT)
            @Html.ValidationMessageFor(model => model.DES_DT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.L_HOURS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.L_HOURS)
            @Html.ValidationMessageFor(model => model.L_HOURS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.INS_PIPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.INS_PIPE)
            @Html.ValidationMessageFor(model => model.INS_PIPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PC_RING)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PC_RING)
            @Html.ValidationMessageFor(model => model.PC_RING)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LINE_MATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LINE_MATE)
            @Html.ValidationMessageFor(model => model.LINE_MATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DRAW_NO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DRAW_NO)
            @Html.ValidationMessageFor(model => model.DRAW_NO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FRAME_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FRAME_TYPE)
            @Html.ValidationMessageFor(model => model.FRAME_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LIN_COL_TY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LIN_COL_TY)
            @Html.ValidationMessageFor(model => model.LIN_COL_TY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRO_MARK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRO_MARK)
            @Html.ValidationMessageFor(model => model.PRO_MARK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WEAR_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WEAR_TYPE)
            @Html.ValidationMessageFor(model => model.WEAR_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LINE_HOND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LINE_HOND)
            @Html.ValidationMessageFor(model => model.LINE_HOND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CYL_COV_TD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CYL_COV_TD)
            @Html.ValidationMessageFor(model => model.CYL_COV_TD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEMP_B_MT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEMP_B_MT)
            @Html.ValidationMessageFor(model => model.TEMP_B_MT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SHIMS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SHIMS)
            @Html.ValidationMessageFor(model => model.SHIMS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_0)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_0)
            @Html.ValidationMessageFor(model => model.DEPTH_0)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_1)
            @Html.ValidationMessageFor(model => model.DEPTH_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_2)
            @Html.ValidationMessageFor(model => model.DEPTH_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_3)
            @Html.ValidationMessageFor(model => model.DEPTH_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_4)
            @Html.ValidationMessageFor(model => model.DEPTH_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_5)
            @Html.ValidationMessageFor(model => model.DEPTH_5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_6)
            @Html.ValidationMessageFor(model => model.DEPTH_6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_7)
            @Html.ValidationMessageFor(model => model.DEPTH_7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_8)
            @Html.ValidationMessageFor(model => model.DEPTH_8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_9)
            @Html.ValidationMessageFor(model => model.DEPTH_9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_10)
            @Html.ValidationMessageFor(model => model.DEPTH_10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_11)
            @Html.ValidationMessageFor(model => model.DEPTH_11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_A1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_A1)
            @Html.ValidationMessageFor(model => model.DEPTH_A1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPTH_A2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPTH_A2)
            @Html.ValidationMessageFor(model => model.DEPTH_A2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_0)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_0)
            @Html.ValidationMessageFor(model => model.DIAFA_0)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_1)
            @Html.ValidationMessageFor(model => model.DIAFA_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_2)
            @Html.ValidationMessageFor(model => model.DIAFA_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_3)
            @Html.ValidationMessageFor(model => model.DIAFA_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_4)
            @Html.ValidationMessageFor(model => model.DIAFA_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_5)
            @Html.ValidationMessageFor(model => model.DIAFA_5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_6)
            @Html.ValidationMessageFor(model => model.DIAFA_6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_7)
            @Html.ValidationMessageFor(model => model.DIAFA_7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_8)
            @Html.ValidationMessageFor(model => model.DIAFA_8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_9)
            @Html.ValidationMessageFor(model => model.DIAFA_9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_10)
            @Html.ValidationMessageFor(model => model.DIAFA_10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_11)
            @Html.ValidationMessageFor(model => model.DIAFA_11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_A1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_A1)
            @Html.ValidationMessageFor(model => model.DIAFA_A1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAFA_A2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAFA_A2)
            @Html.ValidationMessageFor(model => model.DIAFA_A2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_0)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_0)
            @Html.ValidationMessageFor(model => model.DIAEM_0)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_1)
            @Html.ValidationMessageFor(model => model.DIAEM_1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_2)
            @Html.ValidationMessageFor(model => model.DIAEM_2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_3)
            @Html.ValidationMessageFor(model => model.DIAEM_3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_4)
            @Html.ValidationMessageFor(model => model.DIAEM_4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_5)
            @Html.ValidationMessageFor(model => model.DIAEM_5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_6)
            @Html.ValidationMessageFor(model => model.DIAEM_6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_7)
            @Html.ValidationMessageFor(model => model.DIAEM_7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_8)
            @Html.ValidationMessageFor(model => model.DIAEM_8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_9)
            @Html.ValidationMessageFor(model => model.DIAEM_9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_10)
            @Html.ValidationMessageFor(model => model.DIAEM_10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_11)
            @Html.ValidationMessageFor(model => model.DIAEM_11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_A1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_A1)
            @Html.ValidationMessageFor(model => model.DIAEM_A1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIAEM_A2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIAEM_A2)
            @Html.ValidationMessageFor(model => model.DIAEM_A2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LINE_REM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LINE_REM)
            @Html.ValidationMessageFor(model => model.LINE_REM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BMATE_R1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BMATE_R1)
            @Html.ValidationMessageFor(model => model.BMATE_R1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BMATE_R2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BMATE_R2)
            @Html.ValidationMessageFor(model => model.BMATE_R2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BMATE_R3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BMATE_R3)
            @Html.ValidationMessageFor(model => model.BMATE_R3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BMATE_R4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BMATE_R4)
            @Html.ValidationMessageFor(model => model.BMATE_R4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COAT_R1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COAT_R1)
            @Html.ValidationMessageFor(model => model.COAT_R1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COAT_R2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COAT_R2)
            @Html.ValidationMessageFor(model => model.COAT_R2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COAT_R3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COAT_R3)
            @Html.ValidationMessageFor(model => model.COAT_R3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COAT_R4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COAT_R4)
            @Html.ValidationMessageFor(model => model.COAT_R4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COATLS_R1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COATLS_R1)
            @Html.ValidationMessageFor(model => model.COATLS_R1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COATLS_R2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COATLS_R2)
            @Html.ValidationMessageFor(model => model.COATLS_R2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COATLS_R3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COATLS_R3)
            @Html.ValidationMessageFor(model => model.COATLS_R3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COATLS_R4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COATLS_R4)
            @Html.ValidationMessageFor(model => model.COATLS_R4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROF_R1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROF_R1)
            @Html.ValidationMessageFor(model => model.PROF_R1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROF_R2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROF_R2)
            @Html.ValidationMessageFor(model => model.PROF_R2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROF_R3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROF_R3)
            @Html.ValidationMessageFor(model => model.PROF_R3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROF_R4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROF_R4)
            @Html.ValidationMessageFor(model => model.PROF_R4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANUF_R1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANUF_R1)
            @Html.ValidationMessageFor(model => model.MANUF_R1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANUF_R2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANUF_R2)
            @Html.ValidationMessageFor(model => model.MANUF_R2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANUF_R3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANUF_R3)
            @Html.ValidationMessageFor(model => model.MANUF_R3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANUF_R4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANUF_R4)
            @Html.ValidationMessageFor(model => model.MANUF_R4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LKTYP_R1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LKTYP_R1)
            @Html.ValidationMessageFor(model => model.LKTYP_R1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LKTYP_R2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LKTYP_R2)
            @Html.ValidationMessageFor(model => model.LKTYP_R2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LKTYP_R3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LKTYP_R3)
            @Html.ValidationMessageFor(model => model.LKTYP_R3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LKTYP_R4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LKTYP_R4)
            @Html.ValidationMessageFor(model => model.LKTYP_R4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CLGROV_R1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CLGROV_R1)
            @Html.ValidationMessageFor(model => model.CLGROV_R1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CLGROV_R2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CLGROV_R2)
            @Html.ValidationMessageFor(model => model.CLGROV_R2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CLGROV_R3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CLGROV_R3)
            @Html.ValidationMessageFor(model => model.CLGROV_R3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CLGROV_R4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CLGROV_R4)
            @Html.ValidationMessageFor(model => model.CLGROV_R4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CLGRWD_R1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CLGRWD_R1)
            @Html.ValidationMessageFor(model => model.CLGRWD_R1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CLGRWD_R2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CLGRWD_R2)
            @Html.ValidationMessageFor(model => model.CLGRWD_R2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CLGRWD_R3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CLGRWD_R3)
            @Html.ValidationMessageFor(model => model.CLGRWD_R3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CLGRWD_R4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CLGRWD_R4)
            @Html.ValidationMessageFor(model => model.CLGRWD_R4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BRK_R1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BRK_R1)
            @Html.ValidationMessageFor(model => model.BRK_R1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BRK_R2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BRK_R2)
            @Html.ValidationMessageFor(model => model.BRK_R2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BRK_R3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BRK_R3)
            @Html.ValidationMessageFor(model => model.BRK_R3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BRK_R4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BRK_R4)
            @Html.ValidationMessageFor(model => model.BRK_R4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNG_DEG_A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNG_DEG_A)
            @Html.ValidationMessageFor(model => model.RNG_DEG_A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNG_DEG_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNG_DEG_B)
            @Html.ValidationMessageFor(model => model.RNG_DEG_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNG_DEG_C)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNG_DEG_C)
            @Html.ValidationMessageFor(model => model.RNG_DEG_C)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNG_DEG_D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNG_DEG_D)
            @Html.ValidationMessageFor(model => model.RNG_DEG_D)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RNG_DEG_E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RNG_DEG_E)
            @Html.ValidationMessageFor(model => model.RNG_DEG_E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG1_A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG1_A)
            @Html.ValidationMessageFor(model => model.WDT_RNG1_A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG1_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG1_B)
            @Html.ValidationMessageFor(model => model.WDT_RNG1_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG1_C)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG1_C)
            @Html.ValidationMessageFor(model => model.WDT_RNG1_C)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG1_D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG1_D)
            @Html.ValidationMessageFor(model => model.WDT_RNG1_D)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG1_E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG1_E)
            @Html.ValidationMessageFor(model => model.WDT_RNG1_E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GAP_RNG1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GAP_RNG1)
            @Html.ValidationMessageFor(model => model.GAP_RNG1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG2_A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG2_A)
            @Html.ValidationMessageFor(model => model.WDT_RNG2_A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG2_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG2_B)
            @Html.ValidationMessageFor(model => model.WDT_RNG2_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG2_C)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG2_C)
            @Html.ValidationMessageFor(model => model.WDT_RNG2_C)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG2_D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG2_D)
            @Html.ValidationMessageFor(model => model.WDT_RNG2_D)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG2_E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG2_E)
            @Html.ValidationMessageFor(model => model.WDT_RNG2_E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GAP_RNG2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GAP_RNG2)
            @Html.ValidationMessageFor(model => model.GAP_RNG2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG3_A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG3_A)
            @Html.ValidationMessageFor(model => model.WDT_RNG3_A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG3_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG3_B)
            @Html.ValidationMessageFor(model => model.WDT_RNG3_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG3_C)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG3_C)
            @Html.ValidationMessageFor(model => model.WDT_RNG3_C)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG3_D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG3_D)
            @Html.ValidationMessageFor(model => model.WDT_RNG3_D)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG3_E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG3_E)
            @Html.ValidationMessageFor(model => model.WDT_RNG3_E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GAP_RNG3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GAP_RNG3)
            @Html.ValidationMessageFor(model => model.GAP_RNG3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG4_A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG4_A)
            @Html.ValidationMessageFor(model => model.WDT_RNG4_A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG4_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG4_B)
            @Html.ValidationMessageFor(model => model.WDT_RNG4_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG4_C)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG4_C)
            @Html.ValidationMessageFor(model => model.WDT_RNG4_C)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG4_D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG4_D)
            @Html.ValidationMessageFor(model => model.WDT_RNG4_D)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WDT_RNG4_E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WDT_RNG4_E)
            @Html.ValidationMessageFor(model => model.WDT_RNG4_E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GAP_RNG4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GAP_RNG4)
            @Html.ValidationMessageFor(model => model.GAP_RNG4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG1_F)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG1_F)
            @Html.ValidationMessageFor(model => model.GRV_RNG1_F)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG1_E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG1_E)
            @Html.ValidationMessageFor(model => model.GRV_RNG1_E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG1_A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG1_A)
            @Html.ValidationMessageFor(model => model.GRV_RNG1_A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG1_M)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG1_M)
            @Html.ValidationMessageFor(model => model.GRV_RNG1_M)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG2_F)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG2_F)
            @Html.ValidationMessageFor(model => model.GRV_RNG2_F)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG2_E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG2_E)
            @Html.ValidationMessageFor(model => model.GRV_RNG2_E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG2_A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG2_A)
            @Html.ValidationMessageFor(model => model.GRV_RNG2_A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG2_M)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG2_M)
            @Html.ValidationMessageFor(model => model.GRV_RNG2_M)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG3_F)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG3_F)
            @Html.ValidationMessageFor(model => model.GRV_RNG3_F)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG3_E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG3_E)
            @Html.ValidationMessageFor(model => model.GRV_RNG3_E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG3_A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG3_A)
            @Html.ValidationMessageFor(model => model.GRV_RNG3_A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG3_M)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG3_M)
            @Html.ValidationMessageFor(model => model.GRV_RNG3_M)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG4_F)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG4_F)
            @Html.ValidationMessageFor(model => model.GRV_RNG4_F)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG4_E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG4_E)
            @Html.ValidationMessageFor(model => model.GRV_RNG4_E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG4_A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG4_A)
            @Html.ValidationMessageFor(model => model.GRV_RNG4_A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRV_RNG4_M)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRV_RNG4_M)
            @Html.ValidationMessageFor(model => model.GRV_RNG4_M)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LST_OVL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LST_OVL)
            @Html.ValidationMessageFor(model => model.LST_OVL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CRWN_HRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CRWN_HRS)
            @Html.ValidationMessageFor(model => model.CRWN_HRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HI_TOPLOAD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HI_TOPLOAD)
            @Html.ValidationMessageFor(model => model.HI_TOPLOAD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.R_PIS_OVL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.R_PIS_OVL)
            @Html.ValidationMessageFor(model => model.R_PIS_OVL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEST)
            @Html.ValidationMessageFor(model => model.TEST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BNZ_RING)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BNZ_RING)
            @Html.ValidationMessageFor(model => model.BNZ_RING)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OROS_PIST)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OROS_PIST)
            @Html.ValidationMessageFor(model => model.OROS_PIST)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CHK_LIN_CO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHK_LIN_CO)
            @Html.ValidationMessageFor(model => model.CHK_LIN_CO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAX_BURN1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAX_BURN1)
            @Html.ValidationMessageFor(model => model.MAX_BURN1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIST1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIST1)
            @Html.ValidationMessageFor(model => model.PIST1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAX_BURN2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAX_BURN2)
            @Html.ValidationMessageFor(model => model.MAX_BURN2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIST2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIST2)
            @Html.ValidationMessageFor(model => model.PIST2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAX_BURN3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAX_BURN3)
            @Html.ValidationMessageFor(model => model.MAX_BURN3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIST3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIST3)
            @Html.ValidationMessageFor(model => model.PIST3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LIN_CRACK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LIN_CRACK)
            @Html.ValidationMessageFor(model => model.LIN_CRACK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LIN_SCUF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LIN_SCUF)
            @Html.ValidationMessageFor(model => model.LIN_SCUF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LIN_LEAK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LIN_LEAK)
            @Html.ValidationMessageFor(model => model.LIN_LEAK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PCRN_BURN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PCRN_BURN)
            @Html.ValidationMessageFor(model => model.PCRN_BURN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PCRN_CRACK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PCRN_CRACK)
            @Html.ValidationMessageFor(model => model.PCRN_CRACK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PCRM_LEAK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PCRM_LEAK)
            @Html.ValidationMessageFor(model => model.PCRM_LEAK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PCRM_HGW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PCRM_HGW)
            @Html.ValidationMessageFor(model => model.PCRM_HGW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRING_BRK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRING_BRK)
            @Html.ValidationMessageFor(model => model.PRING_BRK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRING_COLL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRING_COLL)
            @Html.ValidationMessageFor(model => model.PRING_COLL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRING_SCUF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRING_SCUF)
            @Html.ValidationMessageFor(model => model.PRING_SCUF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRING_STIC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRING_STIC)
            @Html.ValidationMessageFor(model => model.PRING_STIC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSKRT_LEAK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSKRT_LEAK)
            @Html.ValidationMessageFor(model => model.PSKRT_LEAK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSKRT_SCUF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSKRT_SCUF)
            @Html.ValidationMessageFor(model => model.PSKRT_SCUF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PROD_SBOX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PROD_SBOX)
            @Html.ValidationMessageFor(model => model.PROD_SBOX)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIS_REM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIS_REM)
            @Html.ValidationMessageFor(model => model.PIS_REM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
