@model IEnumerable<PMS.CYL_COND_INSP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TYPECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUILDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHECKEDBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO_OF_CYL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENG_HRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNITNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WKS_PR_PL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LUB_P_CON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LUB_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYLOIL_CON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AT_LOAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COIL_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SULPH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHIP_POS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WE_COND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEA_W_TEMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEP_PORT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEP_DT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DES_PORT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DES_DT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_HOURS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INS_PIPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PC_RING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LINE_MATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DRAW_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FRAME_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LIN_COL_TY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRO_MARK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEAR_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LINE_HOND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CYL_COV_TD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEMP_B_MT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHIMS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_A1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_A2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_A1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAFA_A2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_A1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAEM_A2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LINE_REM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BMATE_R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BMATE_R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BMATE_R3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BMATE_R4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COAT_R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COAT_R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COAT_R3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COAT_R4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COATLS_R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COATLS_R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COATLS_R3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COATLS_R4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROF_R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROF_R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROF_R3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROF_R4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANUF_R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANUF_R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANUF_R3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANUF_R4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LKTYP_R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LKTYP_R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LKTYP_R3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LKTYP_R4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLGROV_R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLGROV_R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLGROV_R3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLGROV_R4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLGRWD_R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLGRWD_R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLGRWD_R3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLGRWD_R4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRK_R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRK_R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRK_R3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRK_R4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNG_DEG_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNG_DEG_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNG_DEG_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNG_DEG_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNG_DEG_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG1_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG1_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG1_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG1_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG1_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GAP_RNG1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG2_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG2_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG2_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG2_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG2_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GAP_RNG2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG3_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG3_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG3_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG3_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG3_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GAP_RNG3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG4_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG4_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG4_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG4_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WDT_RNG4_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GAP_RNG4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG1_F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG1_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG1_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG1_M)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG2_F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG2_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG2_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG2_M)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG3_F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG3_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG3_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG3_M)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG4_F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG4_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG4_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRV_RNG4_M)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LST_OVL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRWN_HRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HI_TOPLOAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R_PIS_OVL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BNZ_RING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OROS_PIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHK_LIN_CO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAX_BURN1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIST1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAX_BURN2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIST2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAX_BURN3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIST3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LIN_CRACK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LIN_SCUF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LIN_LEAK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCRN_BURN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCRN_CRACK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCRM_LEAK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCRM_HGW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRING_BRK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRING_COLL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRING_SCUF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRING_STIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PSKRT_LEAK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PSKRT_SCUF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROD_SBOX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIS_REM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TYPECODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUILDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHECKEDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO_OF_CYL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENG_HRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNITNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WKS_PR_PL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUB_P_CON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUB_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYLOIL_CON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AT_LOAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COIL_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SULPH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHIP_POS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WE_COND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEA_W_TEMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEP_PORT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEP_DT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DES_PORT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DES_DT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_HOURS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INS_PIPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PC_RING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LINE_MATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DRAW_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FRAME_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LIN_COL_TY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRO_MARK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEAR_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LINE_HOND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CYL_COV_TD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEMP_B_MT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHIMS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_A1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_A2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_A1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAFA_A2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_A1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAEM_A2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LINE_REM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BMATE_R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BMATE_R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BMATE_R3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BMATE_R4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COAT_R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COAT_R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COAT_R3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COAT_R4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COATLS_R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COATLS_R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COATLS_R3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COATLS_R4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROF_R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROF_R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROF_R3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROF_R4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANUF_R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANUF_R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANUF_R3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANUF_R4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LKTYP_R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LKTYP_R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LKTYP_R3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LKTYP_R4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLGROV_R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLGROV_R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLGROV_R3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLGROV_R4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLGRWD_R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLGRWD_R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLGRWD_R3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLGRWD_R4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRK_R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRK_R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRK_R3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRK_R4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNG_DEG_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNG_DEG_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNG_DEG_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNG_DEG_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNG_DEG_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG1_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG1_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG1_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG1_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG1_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GAP_RNG1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG2_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG2_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG2_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG2_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG2_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GAP_RNG2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG3_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG3_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG3_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG3_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG3_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GAP_RNG3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG4_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG4_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG4_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG4_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WDT_RNG4_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GAP_RNG4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG1_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG1_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG1_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG1_M)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG2_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG2_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG2_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG2_M)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG3_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG3_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG3_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG3_M)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG4_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG4_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG4_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRV_RNG4_M)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LST_OVL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRWN_HRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HI_TOPLOAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_PIS_OVL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BNZ_RING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OROS_PIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHK_LIN_CO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAX_BURN1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PIST1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAX_BURN2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PIST2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAX_BURN3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PIST3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LIN_CRACK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LIN_SCUF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LIN_LEAK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCRN_BURN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCRN_CRACK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCRM_LEAK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCRM_HGW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRING_BRK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRING_COLL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRING_SCUF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRING_STIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PSKRT_LEAK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PSKRT_SCUF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROD_SBOX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PIS_REM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
