@model PMS.PUMPOVER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PUMPOVER</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESCRIPT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESCRIPT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BEARINGNUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BEARINGNUM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OHLDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OHLDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LASTSURV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LASTSURV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REPODATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REPODATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
