@model PMS.COMPITEM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>COMPITEM</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBCAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBCAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CONDITION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CONDITION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPECODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPECODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CONTROL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CONTROL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ORDCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ORDCODE)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
