@model PMS.COMPITEM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>COMPITEM</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBCAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBCAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CONDITION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CONDITION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPECODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPECODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CONTROL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CONTROL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ORDCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ORDCODE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
