@model PMS.PMSITEM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PMSITEM</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSITEM1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSITEM1)
            @Html.ValidationMessageFor(model => model.PMSITEM1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEADR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEADR)
            @Html.ValidationMessageFor(model => model.HEADR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EQCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EQCODE)
            @Html.ValidationMessageFor(model => model.EQCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PERIOD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PERIOD)
            @Html.ValidationMessageFor(model => model.PERIOD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.INTERVAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.INTERVAL)
            @Html.ValidationMessageFor(model => model.INTERVAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SCHED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SCHED)
            @Html.ValidationMessageFor(model => model.SCHED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OHAULAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OHAULAT)
            @Html.ValidationMessageFor(model => model.OHAULAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HRSNET)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HRSNET)
            @Html.ValidationMessageFor(model => model.HRSNET)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.M_E_D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.M_E_D)
            @Html.ValidationMessageFor(model => model.M_E_D)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CRIT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CRIT)
            @Html.ValidationMessageFor(model => model.CRIT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.L_DCARB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.L_DCARB)
            @Html.ValidationMessageFor(model => model.L_DCARB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPECODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPECODE)
            @Html.ValidationMessageFor(model => model.TYPECODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NUM)
            @Html.ValidationMessageFor(model => model.NUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STPOINT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STPOINT)
            @Html.ValidationMessageFor(model => model.STPOINT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STPOINT1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STPOINT1)
            @Html.ValidationMessageFor(model => model.STPOINT1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UNITS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UNITS)
            @Html.ValidationMessageFor(model => model.UNITS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.E_D_S)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.E_D_S)
            @Html.ValidationMessageFor(model => model.E_D_S)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.USERS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.USERS)
            @Html.ValidationMessageFor(model => model.USERS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REASON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REASON)
            @Html.ValidationMessageFor(model => model.REASON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PTOTHRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PTOTHRS)
            @Html.ValidationMessageFor(model => model.PTOTHRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.L_PGROUP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.L_PGROUP)
            @Html.ValidationMessageFor(model => model.L_PGROUP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.L_PSTPND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.L_PSTPND)
            @Html.ValidationMessageFor(model => model.L_PSTPND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DTPSTPND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DTPSTPND)
            @Html.ValidationMessageFor(model => model.DTPSTPND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NPSTPND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NPSTPND)
            @Html.ValidationMessageFor(model => model.NPSTPND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UPSTPND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UPSTPND)
            @Html.ValidationMessageFor(model => model.UPSTPND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EO_ECO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EO_ECO)
            @Html.ValidationMessageFor(model => model.EO_ECO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RESPONSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RESPONSE)
            @Html.ValidationMessageFor(model => model.RESPONSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COMMENT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COMMENT)
            @Html.ValidationMessageFor(model => model.COMMENT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WARNPRD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WARNPRD)
            @Html.ValidationMessageFor(model => model.WARNPRD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANUFCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANUFCODE)
            @Html.ValidationMessageFor(model => model.MANUFCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPE)
            @Html.ValidationMessageFor(model => model.TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SERIAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SERIAL)
            @Html.ValidationMessageFor(model => model.SERIAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DECOMM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DECOMM)
            @Html.ValidationMessageFor(model => model.DECOMM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POSTPNDBY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POSTPNDBY)
            @Html.ValidationMessageFor(model => model.POSTPNDBY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STPOINT2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STPOINT2)
            @Html.ValidationMessageFor(model => model.STPOINT2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STPOINT3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STPOINT3)
            @Html.ValidationMessageFor(model => model.STPOINT3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STPOINT4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STPOINT4)
            @Html.ValidationMessageFor(model => model.STPOINT4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SETRANGE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SETRANGE)
            @Html.ValidationMessageFor(model => model.SETRANGE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OFFUPDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OFFUPDT)
            @Html.ValidationMessageFor(model => model.OFFUPDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NKKCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NKKCODE)
            @Html.ValidationMessageFor(model => model.NKKCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
