@model IEnumerable<PMS.PMSITEM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSITEM1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HEADR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EQCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERIOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INTERVAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCHED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OHAULAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HRSNET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M_E_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_DCARB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STPOINT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STPOINT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNITS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_D_S)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REASON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PTOTHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_PGROUP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_PSTPND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTPSTPND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NPSTPND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPSTPND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO_ECO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESPONSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARNPRD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANUFCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SERIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DECOMM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSTPNDBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STPOINT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STPOINT3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STPOINT4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SETRANGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OFFUPDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NKKCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSITEM1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HEADR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EQCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERIOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INTERVAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCHED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OHAULAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HRSNET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_E_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_DCARB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPECODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STPOINT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STPOINT1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNITS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_D_S)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REASON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PTOTHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_PGROUP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_PSTPND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTPSTPND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NPSTPND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPSTPND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EO_ECO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESPONSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARNPRD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANUFCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SERIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DECOMM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSTPNDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STPOINT2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STPOINT3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STPOINT4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SETRANGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OFFUPDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NKKCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
