@model PMS.MAINSUB

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MAINSUB</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.CONNS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CONNS)
            @Html.ValidationMessageFor(model => model.CONNS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CATEGORY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CATEGORY)
            @Html.ValidationMessageFor(model => model.CATEGORY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAIN)
            @Html.ValidationMessageFor(model => model.MAIN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUBMAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUBMAIN)
            @Html.ValidationMessageFor(model => model.SUBMAIN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PARTNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PARTNAME)
            @Html.ValidationMessageFor(model => model.PARTNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TYPE)
            @Html.ValidationMessageFor(model => model.TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SERIAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SERIAL)
            @Html.ValidationMessageFor(model => model.SERIAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HP)
            @Html.ValidationMessageFor(model => model.HP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CAPACITY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CAPACITY)
            @Html.ValidationMessageFor(model => model.CAPACITY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YEARB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YEARB)
            @Html.ValidationMessageFor(model => model.YEARB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AMPS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AMPS)
            @Html.ValidationMessageFor(model => model.AMPS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KVA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KVA)
            @Html.ValidationMessageFor(model => model.KVA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RPM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RPM)
            @Html.ValidationMessageFor(model => model.RPM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VOLTS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VOLTS)
            @Html.ValidationMessageFor(model => model.VOLTS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HZ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HZ)
            @Html.ValidationMessageFor(model => model.HZ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEAD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEAD)
            @Html.ValidationMessageFor(model => model.HEAD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUCTHEAD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUCTHEAD)
            @Html.ValidationMessageFor(model => model.SUCTHEAD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DISCHPRESS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DISCHPRESS)
            @Html.ValidationMessageFor(model => model.DISCHPRESS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CUFTPERMIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CUFTPERMIN)
            @Html.ValidationMessageFor(model => model.CUFTPERMIN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SPECIFIC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SPECIFIC)
            @Html.ValidationMessageFor(model => model.SPECIFIC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MODEL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MODEL)
            @Html.ValidationMessageFor(model => model.MODEL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EQUIPDESC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EQUIPDESC)
            @Html.ValidationMessageFor(model => model.EQUIPDESC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RATING)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RATING)
            @Html.ValidationMessageFor(model => model.RATING)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
