@model IEnumerable<PMS.MAINSUB>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CONNS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBMAIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SERIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAPACITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YEARB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RPM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VOLTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HEAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUCTHEAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISCHPRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUFTPERMIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPECIFIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EQUIPDESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RATING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CONNS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBMAIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PARTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SERIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAPACITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YEARB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AMPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KVA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RPM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VOLTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HEAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUCTHEAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISCHPRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUFTPERMIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPECIFIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EQUIPDESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RATING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
