@model PMS.MECRSDTL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MECRSDTL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OHHAULDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OHHAULDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SLNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SLNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT11)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CL_LIMIT12)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CL_LIMIT12)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
