@model IEnumerable<PMS.MECRSDTL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OHHAULDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CL_LIMIT12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OHHAULDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CL_LIMIT12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
