@model PMS.POSTPOND

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>POSTPOND</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REASON)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REASON)
            @Html.ValidationMessageFor(model => model.REASON)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.L_PSTPND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.L_PSTPND)
            @Html.ValidationMessageFor(model => model.L_PSTPND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DTPSTPND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DTPSTPND)
            @Html.ValidationMessageFor(model => model.DTPSTPND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NTPSTPND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NTPSTPND)
            @Html.ValidationMessageFor(model => model.NTPSTPND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OHAULAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OHAULAT)
            @Html.ValidationMessageFor(model => model.OHAULAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TOTHRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TOTHRS)
            @Html.ValidationMessageFor(model => model.TOTHRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDTDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDTDT)
            @Html.ValidationMessageFor(model => model.EDTDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POSTPNDBY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POSTPNDBY)
            @Html.ValidationMessageFor(model => model.POSTPNDBY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RESETBY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RESETBY)
            @Html.ValidationMessageFor(model => model.RESETBY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RESETDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RESETDT)
            @Html.ValidationMessageFor(model => model.RESETDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
