@model IEnumerable<PMS.POSTPOND>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REASON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_PSTPND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTPSTPND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NTPSTPND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OHAULAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDTDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSTPNDBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESETBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESETDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REASON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_PSTPND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTPSTPND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NTPSTPND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OHAULAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDTDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSTPNDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESETBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESETDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
