@model PMS.PMSHIST

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PMSHIST</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.USERS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.USERS)
            @Html.ValidationMessageFor(model => model.USERS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATETIME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATETIME)
            @Html.ValidationMessageFor(model => model.DATETIME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESCRIPT1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESCRIPT1)
            @Html.ValidationMessageFor(model => model.DESCRIPT1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ITEMCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ITEMCODE)
            @Html.ValidationMessageFor(model => model.ITEMCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MODE)
            @Html.ValidationMessageFor(model => model.MODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.USERNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.USERNAME)
            @Html.ValidationMessageFor(model => model.USERNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESCRIPT2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESCRIPT2)
            @Html.ValidationMessageFor(model => model.DESCRIPT2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
