@model PMS.MESPDTL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MESPDTL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPUSERID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPUSERID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OHHRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OHHRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OHDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OHDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEHRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEHRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
