@model IEnumerable<PMS.MESPDTL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPUSERID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OHHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OHDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPUSERID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OHHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OHDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
