@model IEnumerable<PMS.MAINBK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAINITEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SURVTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M_P)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORGDIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THU_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACOMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMPOHL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMPRTN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTOHL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTRTN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_MGROUP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MTCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRPMCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OFFUPDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAINITEM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SURVTYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_P)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORGDIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THU_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACOMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMPOHL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMPRTN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTOHL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTRTN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_MGROUP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MTCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRPMCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OFFUPDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
