@model PMS.DRDETL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DRDETL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JAN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JAN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FEB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FEB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JUN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JUN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JUL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JUL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AUG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AUG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OCT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OCT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRYEAR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRYEAR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SLNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SLNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
