@model PMS.DRDETL

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DRDETL</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.DRCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DRCODE)
            @Html.ValidationMessageFor(model => model.DRCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAN)
            @Html.ValidationMessageFor(model => model.JAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FEB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FEB)
            @Html.ValidationMessageFor(model => model.FEB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAR)
            @Html.ValidationMessageFor(model => model.MAR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.APR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.APR)
            @Html.ValidationMessageFor(model => model.APR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAY)
            @Html.ValidationMessageFor(model => model.MAY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JUN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JUN)
            @Html.ValidationMessageFor(model => model.JUN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JUL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JUL)
            @Html.ValidationMessageFor(model => model.JUL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AUG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AUG)
            @Html.ValidationMessageFor(model => model.AUG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SEP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SEP)
            @Html.ValidationMessageFor(model => model.SEP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OCT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OCT)
            @Html.ValidationMessageFor(model => model.OCT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NOV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NOV)
            @Html.ValidationMessageFor(model => model.NOV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEC)
            @Html.ValidationMessageFor(model => model.DEC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DRYEAR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DRYEAR)
            @Html.ValidationMessageFor(model => model.DRYEAR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SLNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLNO)
            @Html.ValidationMessageFor(model => model.SLNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
