@model PMS.MAINTYPE

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MAINTYPE</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MTCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MTCODE)
            @Html.ValidationMessageFor(model => model.MTCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINTYPE1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINTYPE1)
            @Html.ValidationMessageFor(model => model.MAINTYPE1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.L_DEFA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.L_DEFA)
            @Html.ValidationMessageFor(model => model.L_DEFA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
