@model PMS.DRITEM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DRITEM</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRILLITEM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRILLITEM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ITEMNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ITEMNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRILLCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRILLCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GRPCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GRPCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBGRPCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBGRPCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REMARK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESCRIPT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESCRIPT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FREQ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FREQ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
