@model PMS.DRITEM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DRITEM</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.ENV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENV)
            @Html.ValidationMessageFor(model => model.ENV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DRILLITEM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DRILLITEM)
            @Html.ValidationMessageFor(model => model.DRILLITEM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ITEMNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ITEMNO)
            @Html.ValidationMessageFor(model => model.ITEMNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DRILLCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DRILLCODE)
            @Html.ValidationMessageFor(model => model.DRILLCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GRPCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GRPCODE)
            @Html.ValidationMessageFor(model => model.GRPCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUBGRPCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUBGRPCODE)
            @Html.ValidationMessageFor(model => model.SUBGRPCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REMARK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REMARK)
            @Html.ValidationMessageFor(model => model.REMARK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESCRIPT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESCRIPT)
            @Html.ValidationMessageFor(model => model.DESCRIPT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FREQ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FREQ)
            @Html.ValidationMessageFor(model => model.FREQ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
