@model PMS.BKIMGDBF

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BKIMGDBF</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SLNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SLNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FROMDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FROMDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TODT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TODT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKFILENAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKFILENAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKPATH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKPATH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
