@model IEnumerable<PMS.BKIMGDBF>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SLNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FROMDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TODT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKFILENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKPATH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SLNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FROMDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TODT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKFILENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKPATH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
