@model IEnumerable<PMS.BACKUP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BUPFILE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUPPATH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUPTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUPDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUPSRNUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUPEDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUPREC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BUPFILE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUPPATH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUPTYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUPDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUPSRNUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUPEDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUPREC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
