@model PMS.DEFPST

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DEFPST</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SLNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SLNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REFNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REFNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TARGETDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TARGETDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PSTREM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PSTREM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PSTUSER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PSTUSER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PSTPND)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PSTPND)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SENT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SENT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFFUPDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFFUPDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OLDTGDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OLDTGDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEFPSTCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEFPSTCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
