@model PMS.DEFPST

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DEFPST</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.SLNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLNO)
            @Html.ValidationMessageFor(model => model.SLNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REFNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REFNO)
            @Html.ValidationMessageFor(model => model.REFNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TARGETDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TARGETDT)
            @Html.ValidationMessageFor(model => model.TARGETDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSTREM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSTREM)
            @Html.ValidationMessageFor(model => model.PSTREM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSTUSER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSTUSER)
            @Html.ValidationMessageFor(model => model.PSTUSER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSTPND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSTPND)
            @Html.ValidationMessageFor(model => model.PSTPND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SENT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SENT)
            @Html.ValidationMessageFor(model => model.SENT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENTDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENTDT)
            @Html.ValidationMessageFor(model => model.ENTDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OFFUPDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OFFUPDT)
            @Html.ValidationMessageFor(model => model.OFFUPDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OLDTGDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OLDTGDT)
            @Html.ValidationMessageFor(model => model.OLDTGDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEFPSTCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEFPSTCODE)
            @Html.ValidationMessageFor(model => model.DEFPSTCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
