@model PMS.AUXODET2

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AUXODET2</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CYLNO10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CYLNO10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STDCLEAN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STDCLEAN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LIMIT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LIMIT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NUM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NUM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
