@model PMS.FPLOGBK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FPLOGBK</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESCRIPT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESCRIPT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPECODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPECODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CATEGORY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CATEGORY)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
