@model PMS.DBLTDETL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DBLTDETL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INSPECTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INSPECTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COATTING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COATTING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BLISTERING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BLISTERING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCALETYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCALETYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.THICKNESS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.THICKNESS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INTENSITY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INTENSITY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AVGDEPT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AVGDEPT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ANODES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ANODES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FACTURES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FACTURES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BULCKING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BULCKING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WELDSEAMS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WELDSEAMS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.THINNING)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.THINNING)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RESIDUES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RESIDUES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NARRATIVE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NARRATIVE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PHOTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PHOTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REPAIRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REPAIRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REPAIRDOCK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REPAIRDOCK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FOLLOWUP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FOLLOWUP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
