@model IEnumerable<PMS.DBLTDETL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INSPECTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COATTING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BLISTERING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCALETYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THICKNESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INTENSITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AVGDEPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANODES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACTURES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BULCKING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WELDSEAMS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THINNING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESIDUES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NARRATIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHOTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REPAIRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REPAIRDOCK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FOLLOWUP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INSPECTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COATTING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BLISTERING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCALETYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THICKNESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INTENSITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AVGDEPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ANODES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACTURES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BULCKING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WELDSEAMS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THINNING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESIDUES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NARRATIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHOTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REPAIRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REPAIRDOCK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FOLLOWUP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
