@model PMS.PISTDETL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PISTDETL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MAINCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAINCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMSCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMSCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITED)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITED)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDITDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDITDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RUNHRS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RUNHRS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WEAR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WEAR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RADORIG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RADORIG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RADIALA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RADIALA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RADIALB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RADIALB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RADIALC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RADIALC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUTTNOW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUTTNOW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUTTALLOW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUTTALLOW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AUXIALA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AUXIALA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AUXIALB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AUXIALB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AUXIALC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AUXIALC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AUXAVG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AUXAVG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GROVNOW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GROVNOW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GROVALLOW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GROVALLOW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MATER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MATER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RINGCOND)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RINGCOND)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RENEW)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RENEW)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RADIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RADIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUTT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUTT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AUXIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AUXIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GROVCLEAR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GROVCLEAR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NEWMATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NEWMATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SLNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SLNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BKDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BKDT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
