@model PMS.PISTDETL

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PISTDETL</legend>

        @Html.HiddenFor(model => model.PK)

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINCODE)
            @Html.ValidationMessageFor(model => model.MAINCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PMSCODE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PMSCODE)
            @Html.ValidationMessageFor(model => model.PMSCODE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITED)
            @Html.ValidationMessageFor(model => model.EDITED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EDITDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EDITDT)
            @Html.ValidationMessageFor(model => model.EDITDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RUNHRS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RUNHRS)
            @Html.ValidationMessageFor(model => model.RUNHRS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WEAR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WEAR)
            @Html.ValidationMessageFor(model => model.WEAR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RADORIG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RADORIG)
            @Html.ValidationMessageFor(model => model.RADORIG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RADIALA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RADIALA)
            @Html.ValidationMessageFor(model => model.RADIALA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RADIALB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RADIALB)
            @Html.ValidationMessageFor(model => model.RADIALB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RADIALC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RADIALC)
            @Html.ValidationMessageFor(model => model.RADIALC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BUTTNOW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BUTTNOW)
            @Html.ValidationMessageFor(model => model.BUTTNOW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BUTTALLOW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BUTTALLOW)
            @Html.ValidationMessageFor(model => model.BUTTALLOW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AUXIALA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AUXIALA)
            @Html.ValidationMessageFor(model => model.AUXIALA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AUXIALB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AUXIALB)
            @Html.ValidationMessageFor(model => model.AUXIALB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AUXIALC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AUXIALC)
            @Html.ValidationMessageFor(model => model.AUXIALC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AUXAVG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AUXAVG)
            @Html.ValidationMessageFor(model => model.AUXAVG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GROVNOW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GROVNOW)
            @Html.ValidationMessageFor(model => model.GROVNOW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GROVALLOW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GROVALLOW)
            @Html.ValidationMessageFor(model => model.GROVALLOW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MATER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MATER)
            @Html.ValidationMessageFor(model => model.MATER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RINGCOND)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RINGCOND)
            @Html.ValidationMessageFor(model => model.RINGCOND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RENEW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RENEW)
            @Html.ValidationMessageFor(model => model.RENEW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RADIAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RADIAL)
            @Html.ValidationMessageFor(model => model.RADIAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BUTT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BUTT)
            @Html.ValidationMessageFor(model => model.BUTT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AUXIAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AUXIAL)
            @Html.ValidationMessageFor(model => model.AUXIAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GROVCLEAR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GROVCLEAR)
            @Html.ValidationMessageFor(model => model.GROVCLEAR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NEWMATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NEWMATE)
            @Html.ValidationMessageFor(model => model.NEWMATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SLNO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLNO)
            @Html.ValidationMessageFor(model => model.SLNO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BKDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BKDT)
            @Html.ValidationMessageFor(model => model.BKDT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
