@model IEnumerable<PMS.PISTDETL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAINCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PMSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUNHRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RADORIG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RADIALA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RADIALB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RADIALC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUTTNOW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUTTALLOW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUXIALA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUXIALB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUXIALC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUXAVG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GROVNOW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GROVALLOW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RINGCOND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RENEW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RADIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUTT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUXIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GROVCLEAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NEWMATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAINCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PMSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUNHRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RADORIG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RADIALA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RADIALB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RADIALC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUTTNOW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUTTALLOW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUXIALA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUXIALB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUXIALC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUXAVG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GROVNOW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GROVALLOW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RINGCOND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RENEW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RADIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUXIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GROVCLEAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NEWMATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK })
        </td>
    </tr>
}

</table>
